body, html { margin: 0; }

body {
	background-color: #333;
	color: #79776a;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
}

p { line-height: 1.4em; }

h1,h2,h3 {
	font-family: 'Libre Baskerville', serif;
}

h2 {
	font-size: 26px;
	margin-top: 4px;
}

button {
	border: 1px solid #999;
	border-radius: 4px;
	background-color: transparent;
	font-size: 11px;
	font-weight: bold;
	padding: 6px 14px;
	color: #79776a;
	margin-top: 10px;
}

.container {
	background-color: #fff;
	max-width: 1000px;
	margin: 0 auto;
}

.section1,.section2,.section3,.section4 { display: grid; }

/* 포토샵을 통한 너비 확인
42px 59px 66px 30px 53px 750px
43px 50px 55px auto auto
*/
/* SECTION 1 */

.section1{
	grid-template-columns: 42fr 59fr 66fr 30fr 53fr 750fr;
	grid-template-rows: 43px 50px 55px auto auto;
}

.section1-bg{
	grid-column: 3/-1;
	grid-row: 1/-1;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.section1-year{
	grid-column: 4/2;
	grid-row: 4;
}

.section1-h1{
	grid-column: 2/span 3;
	grid-row: 2;
}

.section1 h1 a{
	background: url(../images/logo.png) no-repeat;
	width: 155px;
	height: 50px;
	text-indent: -9999em;
	display: block;
}


.section2{
	margin-top: -325px;;
	grid-template-columns: 44fr 26fr 300fr 88fr 50fr 80fr 84fr 83fr 252fr;
	grid-template-rows: 94p 29px 41px 193px 247px auto;
}

.section2-skier{
	grid-column: -3 / -1;
	grid-row: -3/-1;
	width: 100%; height: 100%;
	object-fit: cover;
}

.section2-bg{
	grid-column: 1 / -2;
	grid-row: 2/-2;
}

.fall-lookbook{
	grid-column: 2;
	grid-row: 1/span 3;
}

.title{
	grid-column: 4/span 3;
	grid-row: 3;
	display: flex;
	align-items: center;
	gap: 40px;
}

.section2-text{
	grid-column: 5/span 3;
	grid-row: 4/span 2;
}

@media screen and (max-width:1000px){
	.section1-bg, .section1-year{
		display: none;
	}
	.section2{
		margin-top: -75px;
	}
	.section2-skier{
		display: none;
	}
	.section2-bg{
		grid-column: 1/-1;
		grid-row: 2/-1;
		width: 100%;
	}
	.section2-text{
		grid-column: 5/ -1;

	}
}