/* General styles */
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.gallery {
    margin: 0;
    padding: 0;
    list-style: none;
    width:60%;
    margin:2rem auto;
}

.gallery li {
    float: left;
    width: 48%;
    margin: 1%;
}

.gallery li img {
    transition: opacity .3s ease-in-out;
}

.gallery li img:hover {
    opacity: .75;
}

#lightbox-overlay {
    opacity: 0;
    pointer-events: none;  /*visibility: hidden; = pointer-events:none과 같다.*/
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(29, 31, 33, .95);
    transition: opacity .3s ease-in;
    display: flex;
    justify-content: center; align-items: center;
}

#lightbox-overlay.visible {
    opacity: 1;
    pointer-events: auto; /*클릭 이벤트 살려주기*/
    visibility: visible;
}

#lightbox-image {
    max-height: 90%;
    /* 가운데 놓기 방법1. 여기선 위에 flex로 바꿈
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    max-width: 90%;    
    text-indent: -99999px;
}
