*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    list-style: none;
}

.header{
    height: 55vh;
    width: 100%;
    background-image: url(main_header.jpg);
    background-size: cover;
    background-position: center center;
}

object {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.kia_logo{
    fill: white;
}




nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
}

nav ul li {
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
}
