body {
  margin: 0;
  font-family: "nanumsquare";
}
div {
  box-sizing: border-box;
}

.portfolio {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.portfolio-container {
  text-align: left;
  max-width: 90%;
  margin: auto;
  /* position: relative; */
}
.portfolio-container > div{
  float: left;
  width: 50%;
  height: 750px;
  background-size: cover;
  position: relative;
  transition: all 0.5s;
}
.portfolio-container > div:hover{
  transform: scale( 1.02 );
  z-index: 999;
}
.portfolio-item1 {background-image: url(portfolio-1.jpg);}
.portfolio-item2 {background-image: url(portfolio-2.jpg);}
.portfolio-item3 {background-image: url(portfolio-3.jpg);}
.portfolio-item4 {background-image: url(portfolio-4.jpg);}

.portfolio-text {
  color: #fff;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}





.portfolio:after {
  content: "";
  display: block;
  clear: both;
}
