* {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
body {
  background: green;
  /* overflow-y: scroll; */
  padding-top: 50px;
}
header {
  background: linear-gradient(
    white 50px,
    rgba(255, 255, 255, 0.5) 50px,
    rgba(255, 255, 255, 0.5)
  );
  height: 50px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

nav {
  width: 960px;
  margin: 0 auto;
}
nav > ul {
  display: flex;
}
nav > ul > li {
  position: relative;
  line-height: 50px;
  padding: 0 35px;
}
nav > ul > li ul {
  width: 100%;
  position: absolute;
}
nav > ul > li ul li {
  white-space: nowrap;
}
