@font-face {
	font-family: 'hdharmony';
	font-style: light;
	font-weight: 300;
	src: url('../font/현대하모니+L.ttf') format('truetype');
}

@font-face {
	font-family: 'hdharmony';
	font-style: medium;
	font-weight: 500;
	src: url('../font/현대하모니+B.ttf') format('truetype');
}

@font-face {
	font-family: 'hdharmony';
	font-style: bold;
	font-weight: 700;
	src: url('../font/현대하모니+B.ttf') format('truetype');
}



:root {
	/* color */
	--primary: #0A2972;
	--secondary: #0E3092;
	--tertiary: #00A0C8;
	--red: #f00;
	--green: #7dc31e;
	--yellow: #ffb400;
	--gold: #866d48;
	--lightgray: #7d7d7d;
	--silver: #8a8d8f;
	--darkgray: #373728;

	/* pc fonts */
	--pc_big: 6.875rem;
	--pc_title: 3.5rem;
	--pc_mid_body: 2rem;
	--pc_body: 1.25rem;
	--pc_sub_title: 1.75rem;
	--pc_sub_body: 1rem;

	/* mobile fonts */
	--mo_big: 3.125rem;
	--mo_title: 2rem;
	--mo_body: 1rem;
	--mo_sub_body: 0.875rem;
	--mo_mid_body: 1.75rem;
	--mo_sub_title: 1.25rem;
}


body {
	font-family: 'SUIT Variable', sans-serif;
}
body.visible{
	overflow: hidden;
}

/* header */
header {
	width: 100%;
	/* height: 100vh; */
	position: relative;
}

header .logo a {
	width: 168px;
	height: 44px;
	background: url(../images/header_icon.svg) no-repeat;
	display: block;
	text-indent: -9999em;
}

.top_nav:hover .logo a {
	background: url(../images/header_icon2.svg) no-repeat;
}

.top_nav {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	border-bottom: 1px solid #fff;
	background-color: transparent;
	transition: 0.5s;
	overflow: hidden;
}

.top_nav .nav_container {
	width: 100%;
	height: 86px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 85px;
	margin: 0 auto;
	padding: 0 30px;
}
.top_nav:hover .nav_container{
	border-bottom:1px solid #ccc;
} 

.hamburger_button {
	display: none;
	position: absolute;
	width: 30px;
	height: 30px;
	right: 30px;
	top: 35px;
	z-index: 9999;
	transition: 0.3s;
}
.hamburger_button.visible{
	position: fixed;
	width: 30px;
	height: 30px;
}

.hamburger_button span {
	position: absolute;
	width: 32px;
	height: 3px;
	background: #000;
	border-radius: 4px;
	right: 0;
	top: 0;
	transition: 0.3s;
}

.hamburger_button.visible span{
	background: #fff;
}

.hamburger_button span:nth-child(2),
.hamburger_button span:nth-child(3) {
	top: 8px;
}

.hamburger_button span:nth-child(4) {
	top: 16px;
}

.hamburger_button.toggle span:nth-child(2) {
	transform: rotate(45deg);
}

.hamburger_button.toggle span:nth-child(3) {
	transform: rotate(-45deg);
}

.hamburger_button.toggle span:nth-child(1),
.hamburger_button.toggle span:nth-child(4) {
	opacity: 0;
}


.main_menu {
	display: flex;
	gap: 80px;
	position: relative;
	font-size: var(--pc_body);
	padding: 80px 0px;
}

.main_menu>li>p {
	color: #fff;
	padding-bottom: 40px;
	display: inline;
	cursor: pointer;
}

.top_nav:hover .main_menu>li>p {
	color: #000;
}

.main_list{
	position: relative;
}

.main_list::after {
	display: block;
	content: '';
	background-color: var(--primary);
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: -180%;
	transition: 0.3s;
	transform: scaleX(0);
}
.main_list:hover:after {
	transform: scaleX(1);
}

.sub_menu {
	display: flex;
	flex-direction: column;
	gap: 30px;
	position: absolute;
	top: 300%;
	transition: 0.3s;
	opacity: 0;
	font-size: var(--pc_sub_body);
	z-index: -2;
	width: 110px;
}

.sub_menu li a {
	padding: 20px 0;
	color: #ccc;
	box-sizing: border-box;
}
.sub_menu #about a,
.sub_menu #product a,
.sub_menu #csr a,
.sub_menu #newscenter a{
	color: #000;
}
.sub_menu #about a:hover,
.sub_menu #product a:hover,
.sub_menu #csr a:hover,
.sub_menu #newscenter a:hover{
	color: var(--primary);
}

.main_menu .sub_menu li a:hover {
	text-decoration: underline;
	color: var(--primary);
	font-weight: 700;
}

.top_nav:hover .sub_menu {
	opacity: 1;
	top: 500%;
	z-index: 1;
}

/* 퀵메뉴 */
.quick-menu {
  position: fixed;
  bottom: 230px;
  right: 24px;
  z-index: 1000;
}

.quick-menu-btn {
  width: 56px;
  height: 56px;
  background-color: var(--primary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: 30px;
	opacity: 0.5;
	box-shadow: inset 1px 1px 2px 1px rgba(255,255,255),
	inset -1px -1px 2px 1px rgba(255,255,255);
	transition: 0.3s;
}
.quick-menu-btn:hover{
	opacity:1;
	transform: scale(1.1);
}
.quick-menu-btn.active{
	opacity: 1;
}
.quick-menu-btn span{
  transition: 0.3s;
  transform-origin: center center;
}
.quick-menu-btn.active span{
  transform: rotate(45deg);
}

.quick-menu-list {
  list-style: none;
  display: none; 
  position: absolute;
  bottom: 60px;
  right: 0;
}


.quick-menu-list li {
  margin-bottom: 30px;
  width: 60px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quick-menu-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: white;
  text-decoration: none;
  border-radius:50% ;
	transition: 0.3s;
}

.quick-menu-list li:nth-child(1) a{
  background-color: var(--yellow);
}
.quick-menu-list li:nth-child(2) a{
  background-color: var(--tertiary);
}
.quick-menu-list li:nth-child(3) a{
  background-color: var(--green);
}
.quick-menu-list a+a{
  position: absolute;
  height:20px;
  color: #000;
  width: 60px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 7px;
  opacity: 0;
  transition: 0.3s 0.2s;
}
.quick-menu-list a+a.active{
  opacity: 1;
}

.quick-menu-list li:nth-child(1) a+a{
  background-color: #fff;
  top:50px;
}
.quick-menu-list li:nth-child(2) a+a{
  background-color: #fff;
  top: 131px;
}
.quick-menu-list li:nth-child(3) a+a{
  background-color: #fff;
  top: 210px;
}
/* progress_bar */
#progress_bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  background-color: var(--primary);
  width: 0%;
  z-index: 9999;
}
/* //progress_bar */

/* top 버튼 */
#top_btn {
	border: none;
	background: var(--primary);
	border-radius: 50%;
	color: #fff;
	width: 56px;
	height: 56px;
	position: fixed;
	bottom: 20px;
	right: 23px;
	font-size: 20px;
	z-index: 99;
	opacity: .5;
	display: none;
	box-shadow: inset 1px 1px 2px 1px rgba(255,255,255),
	inset -1px -1px 2px 1px rgba(255,255,255);
	transition: 0.3s;
}

#top_btn:hover {
	opacity: 1;
	transform: scale(1.1);
}

/* tablet_menu */
.tb_container {
	position: absolute;
	background-color: var(--primary); 
	bottom: 100%;
}
.tb_nav {		
	margin: 87px 0;
}



/* tablet */
@media screen and (max-width: 1035px) {
	.main_menu {
		font-size: var(--pc_sub_body);
		gap: 30px;
	}

	.top_nav .nav_container {
		gap: 30px;
	}

	.main_menu .sub_menu {
		font-size: var(--mo_sub_body);
	}
}

@media screen and (max-width: 768px) {

	/* header 승일 */
	header .logo a {
		width: 78px;
		height: 21px;
		background: url(../images/header_icon_tb.svg) no-repeat;
	}

	.top_nav:hover .logo a {
		background: url(../images/header_icon_tb.svg) no-repeat;
	}

	.tb_container.visible {
		position: fixed;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 999;
	}
	
	.tb_nav>ul>li{
		color: #fff;
		font-size: var(--mo_sub_title);
	}
	.tb_nav>ul>li>p {
		cursor: pointer;		
	}

	header video {
		position: none;
	}


	.hamburger_button {
		display: block;
	}

	.tb_nav>ul {
		display: flex;
		gap: 20%;
		flex-wrap: wrap;
		padding: 0 40px;
	}
	.tb_nav>ul>li {
		margin-bottom: 60px;
	}

	.tb_nav>ul>li>p {
		font-size: var(--mo_sub_title);
		position: relative;
		padding: 6px 12px;
	}

	.tb_nav>ul>li>p>span{
		display: none;
	}

	.tb_nav ul li ul {
		display: flex;
		flex-direction: column;
		gap: 17px;
		margin-top: 30px;
		padding: 6px 12px;
	}

	.tb_nav ul li ul li a {
		font-size: var(--mo_body);
	}

	.main_menu {
		display: none;
	}

	.main_list {
		display: none;
	}


	header .top_nav {
		border-bottom: 1px solid #000;

	}

	header .top_nav .nav_container {
		justify-content: space-between;
		background-color: white;
		width: 100vw;
	}
	.quick-menu{
		display: none;
	}

	#top_btn {
		width: 40px;
		height: 40px;
	}
	.tb_list a{
		color: #fff;
	}

}
@media   (max-width: 668px){
	.tb_nav>ul{
		gap:10%;
		margin-left: 30px;
	}
}

@media screen and (max-width: 576px){
	
	
	.tb_nav>ul{
		display: flex;
		flex-direction: column;
	}

	.tb_nav>ul>li {
		text-align: center;
		padding-top: 25px;	
	}
	.tb_nav ul li{
		margin-bottom:5px;
	}
	.tb_nav ul li:nth-child(1){
		margin-top: 15px;
	}

	.tb_nav ul li ul {
		margin-top: 5px;
	}

	.tb_nav>ul>li>p {
		cursor: pointer;		
	}
	.tb_nav>ul>li p{
		width: 200px;
		display:inline-block;
	}
	.tb_nav>ul>li>p>span{
		margin-left: 20px;
		display: inline-block;
		transition: 0.2s;
	}

	.tb_nav>ul>li>p.open{
		color: var(--tertiary);
		text-decoration: underline;
	}
	.tb_nav>ul>li>p.open span{
		transform: rotate(45deg);
		transform-origin: center center;
		color: var(--tertiary)
	}
	.tb_nav>ul>li:nth-child(1){
		border-top: none;
	}
	.tb_nav .tb_list{
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.tb_nav .tb_list{
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		transition: max-height 0.8s ease, opacity 0.8s ease;
	}
	
	.tb_list.open{
		max-height: 500px; /* 충분히 큰 값으로 설정, 메뉴 높이에 맞게 설정 */
		transition: 0.8s;
		opacity: 1;	
	}
}

@media screen and (max-width: 375px) {
	#top_btn {
		width: 40px;
		height: 40px;
		right: 5%;
	}
}



/* tablet */
@media screen and (max-width: 1920px) {
	.container {
		/* max-width: 1440px; */
	}
}



/* //header 승일 */





/* sub_intro Background & title 홍수진 */

.sub_tt {
	width: 100%;
	height: 500px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 87px;
	gap: 20px;
	font-family: 'hdharmony';
	color: #fff;
	background-image: url(../images/product/subnav_product_technology.png);
	background-repeat: no-repeat;
	background-color: #000;
	background-size: cover;
	background-position: center;
	z-index: -1;
}

.sub_tt:after {
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .4);
}

.parallax-window {
	background: transparent;
}

.sub_prx_txt {
	position: absolute;
}

h2.sub_prx_txt {
	transform: translateY(-70%);
}

h4.sub_prx_txt {
	transform: translateY(100%);
}

.sub_tt>h2 {

	font-weight: 500;
	font-size: var(--pc_title);
	z-index: 1;
	font-family: 'hdharmony';
}

.sub_tt>h4 {
	font-weight: 300;
	font-size: var(--pc_sub_title);
	z-index: 1;
	font-family: 'SUIT Variable', sans-serif;
}







/* 통합부분에서 수정할 부분 */

/* xs devices (less than 576px) */
@media (max-width: 575.98px) {
	
	
	/* sub_tt 홍수진 */
	.container h2,
	#main_container .sub_tt h2 {
		font-size: var(--mo_title);
		font-weight: 500;
	}

	.container h4{
		font-size: var(--mo_body);
		line-height: var(--mo_title);		
	}

	#main_container .sub_tt h4 {
		font-size: var(--mo_body);
		line-height: var(--mo_body);
	}
	.sub_tt{
		height: 300px;
	}

	h2.sub_prx_txt {
		transform: translateY(-50%);
	}

	h4.sub_prx_txt {
		transform: translateY(50%);
		span{
			display: block;
			padding-top: 0.5rem;
		}
	}
	/* sub_tt 홍수진 끝*/
}

/* sm devices (phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	/* sub_tt 홍수진 */
	.sub_tt{
		height: 300px;
	}

	.container h2,
	#main_container .sub_tt h2 {
		font-size: var(--mo_title);
		font-weight: 500;
	}

	.container h4,
	#main_container .sub_tt h4 {
		font-size: var(--mo_body);
	}

	h2.sub_prx_txt {
		transform: translateY(-50%);
	}

	h4.sub_prx_txt {
		transform: translateY(50%);
	}

	/* sub_tt 홍수진 끝*/
}

/* md devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	
	/* main + sub_tt 홍수진 */

	.container {
		width: 100%;
	}

	.container h2, 
	#main_container .sub_tt h2 {
		font-size: var(--mo_title);
		font-weight: 500;
	}

	.container h4,
	#main_container .sub_tt h4 {
		font-size: var(--mo_body);
		line-height: var(--mo_title);
	}

	h2.sub_prx_txt {
		transform: translateY(-50%);
	}

	h4.sub_prx_txt {
		transform: translateY(50%);
	}

	/* main + sub_tt 홍수진 끝*/



}


/* lg devices (PC버전desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

	/* sub_tt 홍수진 */

	.container h2,
	#main_container .sub_tt h2 {
		font-size: var(--pc_title);
		line-height: var(--pc_title);
		/* font-family:hdharmony; */
	}

	.container h4,
	#main_container .sub_tt h4 {
		font-size: var(--pc_body);
		line-height: var(--sub_title);
	}
	
	/* sub_tt 홍수진 끝*/
}


/* xl devices (1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

	/* sub_tt 홍수진 */

	.container h2,
	#main_container .sub_tt h2 {
		font-size: var(--pc_title);
		line-height: var(--pc_title);
		/* font-family:hdharmony; */
	}

	.container h4,
	#main_container .sub_tt h4 {
		font-size: var(--pc_body);
		line-height: var(--sub_title);
	}

	
	/* sub_tt 홍수진 끝*/
}

/*xxl devices (1400px and up)*/
@media screen and (min-width: 1400px) {

	/* sub_tt 홍수진 */
	
	.container h2,
	#main_container .sub_tt h2 {
		font-size: var(--pc_title);
		line-height: var(--pc_title);
	}

	.container h4,
	#main_container .sub_tt h4 {
		font-size: var(--pc_body);
		line-height: var(--sub_title);
	}
	
	/* sub_tt 홍수진 끝*/
}




/* //통합부분에서 수정할 부분*/


/* sub_intro Background & title 홍수진 끝*/




/* footer */
footer {
	position: relative;
	background-color: var(--primary);

	font-size: var(--pc_body);
	width: 100%;
	padding-bottom: 60px;
}

footer .logo a {
	width: 211px;
	height: 56px;
	margin-top: 80px;
	background: url(../images/footer/pclogo.svg) no-repeat;
	display: block;
	text-indent: -9999em;
}

.ft-1 {
	color: #fff;
	line-height: 28px;

}

.ft-1 ul:last-of-type {
	color: #fff;
	gap: 50px;

}

footer .ft-1 ul li a {
	color: #fff;
	font-size: 18px;
}

footer h3 {
	margin-bottom: 56px;
}

address {
	margin-bottom: 28px;
}

.footer_left>ul li:first-of-type {
	display: none;
}

.footer_left>ul li {
	color: #fff;
}

.sns {
	width: 100%;
	position: relative;
}

.snsBtn {
	display: flex;
	gap: 57px;
}

.snsBtn a {
	width: 28px;
	height: 28px;
}

footer p {
	text-align: center;
	color: #fff;
}

.container .copyright {
	position: absolute;
	color: #fff;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	bottom: 20px;
}

.container .familysite {
	right: 0;
	border: solid 1px #fff;
	border-radius: 4px;
}

.container .familysite a {
	display: flex;
	color: #fff;
	padding: 12px 32px;
	text-align: center;
}

.btn-primary {
	--bs-btn-color: #fff;
	--bs-btn-bg: transparent;
	--bs-btn-border-color: transparent;
}

dialog {
	border: 1px solid black;
	background: red;
	color: #fff;

}

dialog span {
	display: block;
	cursor: pointer;
}

.modal {
	--bs-modal-zindex: 1055;
	--bs-modal-bg: var(--bs-body-bg);
	--bs-modal-border-color: var(--bs-border-color-translucent);
	--bs-modal-border-width: var(--bs-border-width);
	--bs-modal-border-radius: 0;
	/* 전체 화면에 맞추기 위해 모서리 둥글기 제거 */
	--bs-modal-box-shadow: none;
	/* 전체 화면에 맞추기 위해 그림자 제거 */

	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--bs-modal-zindex);
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	outline: 0;	
}


/*footer modal*/
.modal-body {
	padding: 50px;
	display: flex;
	justify-content: space-between;
}

.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	/* background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 1.5rem; */
	outline: 0;

}
.modal-dialog{
	margin:0;
	margin-left: 0;
	margin-right: 0;
	max-width:100%;
}
.modal-body dl dt{
  font-family: 'hdharmony';
  font-size: 25px;
	font-style: bold;
  margin-bottom: 30px;
}
.modal-body dl dd {
  margin-bottom: 30px; 
  color:var(--silver);
}
.modal-content {
  width: 100%;
  max-width: 100%;
  height: 100%; 
}
.modal-body dl {
  margin: 0; 
}
.tit{
	font-family: 'hdharmony';
  font-size: 35px;
	color: var(--primary);
  font-weight: 700;	
	padding-left: 50px;
}
.modal-content button{
	position: absolute;
	margin-right: 20px;
	font-size: 30px;
	right: 0;
}


button:focus {
	background: transparent;
}

.popup {
	display: none;
}
/*footer modal///////////////////////////////////*/
/* //PC footer///////////////////////////////////////////////////////// */

/*태블릿반응형*/
@media screen and (max-width: 992px) {
	footer {
		padding: 40px 0;
		font-size: var(--mo_sub_body);
	}

	footer h3 {
		margin-bottom: 0;
	}

	address {
		margin-bottom: 0;
		width: 250px;
	}

	footer .logo a {
		width: 207px;
		height: 60px;
		margin-top: 25px;
		background: url(../images/footer/mobilelogo.svg) no-repeat;
		display: block;
		text-indent: -9999em;
	}

	footer .ft-1 {
		position: static;
	}

	footer>div {
		display: flex;
	}

	.ft-1>ul {
		display: none !important;
	}


	.ft-1 ul:nth-of-type(2) li a {
		display: none;
		/* text-indent: -239487em; */
	}


	.ft-1 ul:nth-of-type(1) {
		display: flex;
		justify-content: space-between;
		right: 12px;
		width: 97.5%;
		font-size: var(--mo_sub_body);
		position: absolute;
		order: 2;
	}

	.ft-1 ul:last-of-type {
		color: #fff;
		padding: 0 6px;
		top:25px;
	}

	.sns {
		flex-direction: column;
		align-items: end !important;
		justify-content: end !important;
		display: flex;
		margin-bottom: 1rem;
		gap: 20px;
	}


	.snsBtn {
		display: flex;
		gap: 20px;
	}

	.snsBtn a img {
		width: 24px;
		height: auto;
	}

}

/*/////////////////////////////////////////////태블릿반응형///////////////////*/



/*pc에서는 못건들게 설정 한것*/
@media (min-width: 769px) {
	dd {
			display: block; /* PC에서는 dd 보이도록 설정 */
	}
	dt {
			cursor: default; /* PC에서는 클릭할 수 없도록 설정 */
	}
}


/* 모바일반응형 */
@media screen and (max-width: 768px){
	.modal-body dl dt{
		font-size: 20px;
	}
	.modal-body dl dd{
		font-size: 12px;
	}
}

@media screen and (max-width: 700px){
	footer {
		font-size: var(--mo_sub_body);
	}

	.container .familysite button {
		width: 100%;
		color: #fff;
		padding: 12px 32px;
		text-align: center;
		margin: 0;
		display: block;
	}

	.container .familysite {
		width: 100%;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		margin-bottom: 20px;
	}

	.container .familysite button {
		width: 100%;
		color: #fff;
		padding: 6px 32px;
		text-align: center;
		margin: 0 auto;
		border: solid 1px #fff;
		border-radius: 4px;
		display: block;
		box-sizing: border-box;
	}
	.footer_left address{
		margin-top: 50px;
		order: 2;
	}





	footer .logo a {
		width: 151px;
		height: 40px;
		margin-top: 25px;
		background: url(../images/footer/mobilelogo.svg) no-repeat;
		display: block;
		text-indent: -9999em;
	}

	.ft-1 {
		display: flex;
		flex-direction: column !important;
		gap: 10px;
	}

	.footer_left {
		display: flex;
		gap: 30px;
		width: 100%;
	}

	.footer_left h3 a {
		order: -1;
	}

	.footer_left>ul li:first-of-type {
		display: block;
		flex-direction: column !important;
	}

	.footer_left ul {
		display: flex !important;
		flex-direction: column;
		order: 2;
		font-size: 18px;
	}

	/*  */
	.snsBtn {

		display: none;
	}

	.ft-1 ul:nth-of-type(1) {
		position: relative;
		order: 1;
	}

	.ft-1 ul:last-of-type {
		gap: 10px;
		right: 0px;
		padding: 0;
		font-size: 18px;
	}

	

	.sns {
		width: 95%;
		position: absolute;
		bottom: 100px;
		flex-direction: row;
		justify-content: center !important;

	}


	.container .familysite {
		right: 0;
		border: solid 1px #fff;
		border-radius: 4px;

		transform: none;
	}

	.container .familysite a {
		display: flex;
		color: #fff;
		padding: 12px 32px;
		text-align: center;
	}

/*footer 모바일 모달 */
.modal-body dl dd{
	display: none;
}


}
/*footer 모바일 ///////////////////////////////*/

#popupModal{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,.5);
	z-index: 9999;
	display: none;
}
#popupModal hr{
	color: var(--primary);
	opacity: 1;
}
.popup_wrapper{
	background-color: white;
	width: 430px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border:3px solid var(--primary);
}
.modal_wrapper{	
	padding: 50px;
}
.modal_wrapper p{
	color: #000;
	line-height: 30px;
}
.modal_wrapper em{
	font-weight: 700;
}
.modal_wrapper strong{
	color: var(--tertiary);
	font-weight: 700;
}
.modal_wrapper a{
	font-weight: 700;
	color:var(--secondary);
	text-decoration:underline;
}

.modal_wrapper img{
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
}
.day_btn{
	display:flex;
	justify-content: space-between;
	padding: 0 50px;
	padding-bottom: 50px;
}
.close_btn,
.cookie_btn{
	background-color: var(--primary);
	border: none;
	color: #fff;
	padding: 5px;
	cursor: pointer;
}
@media (max-width:499px){
	.popup_wrapper{
		width: 90%;
	}
	.modal_wrapper p,
	.modal_wrapper em,
	.modal_wrapper strong,
	.modal_wrapper a{
		font-size: 12px;
	}
	.modal_wrapper{	
		padding: 10px;
	}
	.day_btn{
		padding: 0 10px;
	padding-bottom: 20px;
	}
}
@media screen and (max-width: 500px) {
  header .logo a {
    width: 78px;
    height: 21px;
    background: url(../images/header_icon_tb.svg) no-repeat; 
  }
  #popup .modal-body{
      flex-direction: column;  
    }
  #popup .modal-body dl dd{
      /* display: none; */
    }
    #popup .modal-body dl dt{
      border-bottom: 1px solid;
     margin-bottom: 20px;  
    }
	}
	@media screen and (max-width: 320px) {
	.tit{
		font-size: 28px;
	}
}