
main h2 {
  font-size: 3.125rem;
  font-family: 'hdharmony';
  font-weight: 700;
  line-height: 4.375rem;
}

main h3 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 3.5rem;
}

main h4 {
  font-size: var(--pc_body);
}

main h5 {
  font-size: var(--pc_sub_body);
}


/* header */

header .logo a{
  background:url(../images/header_icon2.svg) no-repeat;
}
.main_menu>li>p {
	color: #000;
}

.tab_menu{
  width: 100%;
  height: 87px;
  border-bottom:1px solid rgba(0,0,0,.5);
  margin-bottom: 110px;
  position: sticky;
  top: 0;
  background-color: rgba(255,255,255,.85);
  z-index: 997;
}
.tab_menu ul{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 100px;
  font-size: var(--pc_body);
}
.tab_menu ul li{
  position: relative;
}
/* 이 부분 차일드 부분 숫자만 본인꺼에 맞춰서 바꿔주세요 */
.tab_menu ul li:nth-child(4):after{
  display: block;
	content: '';
	background-color: var(--primary);
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: -170%;
	transition: 0.3s;
	transform: scaleX(1);
}
/* //이 부분 차일드 부분 숫자만 본인꺼에 맞춰서 바꿔주세요 */
.tab_menu ul li:nth-child(4) a{
  color:var(--primary);
}
.tab_menu ul li a:hover{
  color: var(--primary);
}
.tab_menu ul li:after{
  display: block;
	content: '';
	background-color: var(--primary);
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: -170%;
	transition: 0.3s;
	transform: scaleX(0);
}
.tab_menu ul li:hover::after{
  transform: scaleX(1);
}

/*  //header */



/* section1 */
.sec1_title>h4{
  margin-bottom: 80px;  
}
.csr_slogan,
.csr_mission{
  text-align: center;
  margin-bottom: 80px;
}
.csr_slogan>.slg_1,
.csr_mission>.ms_1{
  color: var(--tertiary);
  font-size:var(--pc_mid_body) ;
}
.csr_slogan>.slg_2,
.csr_mission>.ms_2{
  font-size: var(--pc_mid_body);  
}
.mo_ms{
  display: none;
  width: 100%;
  height: 100%;
  font-size: var(--mo_mid_body);
  color: var(--tertiary);
  text-align: center;
}
.csr_focus{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 110px;
}
.csr_focus strong{
  color:#fff;
  font-size: var(--pc_sub_title);
}
.csr_focus span{
  color:#fff;
}
.csr_area1,
.csr_area2,
.csr_area3{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.esn1,
.esn2,
.esn3{
  display: flex;
  flex-direction:column;
  gap:15px;
  width: 342px;
  height: 112px;
  justify-content: center;
  align-items:center;
}
.esn1{
  background-color: var(--green);
}
.esn2{
  background-color: var(--yellow);
}
.esn3{
  background-color: var(--tertiary);
}
.exam1,
.exam2,
.exam3{
  width: 400px;
  height: 363px;
  display: flex;
  flex-direction:column;
  gap:50px;
  justify-content: center;
  position: relative;
  top:-12%;
}
.exam1>div,
.exam2>div,
.exam3>div{
  margin-left: 60px;
}
.exam1{
  background-color: rgba(125,195,30,.2);
}
.exam2{
  background-color: rgba(255,180,0,.2);
}
.exam3{
  background-color:rgba(0,160,200,.2);
}
.exam1 p,
.exam2 p,
.exam3 p{
  font-weight: 700;
}
/* //section1 */

/* section2 */
.sec2_title{
  margin-bottom: 30px;
}
.circles{
  display: flex;
  height: 400px;
  gap: 123px;
  justify-content: center;
  align-items: center;
}
.circle1,
.circle2,
.circle3,
.circle4{  
  border-radius: 50%;
  width: 240px;
  height: 240px;
}
.circle1{
  margin-bottom: -50px;
}
.circle2{
  margin-bottom: -50px;
}
.circle3{
  margin-bottom: -50px;
}
.circle4{
  margin-bottom: -50px;
}

.circle1>span,
.circle2>span,
.circle3>span,
.circle4>span{
  background-color: #fff; 
  position: relative;
  top:-5px;
  font-size: var(--mo_sub_title);
  font-weight: 700;
}
.circle1>h3,
.circle2>h3,
.circle3>h3,
.circle4>h3{
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top:20px;
  font-size: var(--mo_sub_title);
}
.circle1>p,
.circle2>p,
.circle3>p,
.circle4>p{
  width: 200px;
  height: 54px;
  position: relative;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--mo_body);
}
.circle1{
  border: 3px solid var(--green);
}
.circle1>span{
  color: var(--green);
}
.circle1>h3{
  background-color: var(--green);
}

.circle2{
  border: 3px solid var(--yellow);
}
.circle2>span{
  color: var(--yellow);
}
.circle2>h3{
  background-color: var(--yellow);
}
.circle3{
  border: 3px solid var(--secondary);
}
.circle3>span{
  color:var(--secondary);
}
.circle3>h3{
  background-color: var(--secondary);
}
.circle4{
  border: 3px solid var(--tertiary);
}
.circle4>span{
  color:var(--tertiary)
}
.circle4>h3{
  background-color: var(--tertiary);
}


.circles:hover+.dashed{
  animation-name: dash;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  animation-timing-function:ease-out ;
}
.dashed{
  width: 100%;
  position: relative;
  stroke-dasharray: 1400px;
  stroke-dashoffset: 1400px;
  margin-bottom: 110px;
}

.circles:hover .circle1{
  animation-name: cc1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.circles:hover .circle2{
  animation-name: cc2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.3s;
  animation-timing-function: ease-in-out;
}
.circles:hover .circle3{
  animation-name: cc3;
  animation-duration:2s;
  animation-iteration-count: infinite;
  animation-delay: 0.6s;
  animation-timing-function: ease-in-out;
}
.circles:hover .circle4{
  animation-name: cc4;
  animation-duration:2s;
  animation-iteration-count: infinite;
  animation-delay: 0.9s;
  animation-timing-function: ease-in-out;
}

@keyframes cc1{
  0%{margin-bottom: -50px;}
  50%{margin-bottom: -10px;}
  100%{margin-bottom: -50px;}
}
@keyframes cc2{
  0%{margin-bottom: -50px;}
  50%{margin-bottom: -10px;}
  100%{margin-bottom: -50px;}
}
@keyframes cc3{
  0%{margin-bottom: -50px;}
  50%{margin-bottom: -10px;}
  100%{margin-bottom: -50px;}
}
@keyframes cc4{
  0%{margin-bottom: -50px;}
  50%{margin-bottom: -10px;}
  100%{margin-bottom: -50px;}
}
@keyframes dash{
  0%{
    stroke-dashoffset: 1400px;
  }
  100%{
    stroke-dashoffset: 0;
  }
}
/* //section2 */

/* section3 */
.sec3_title{
  margin-bottom: 110px;
  position: relative;
  top:70px;
  opacity: 1;
  transition:0.5s;
}
.symbol{
  display: flex;
  gap: 60px;
  margin-bottom: 110px;
}
.symbol_img{
  padding-left: 20px;
}

.symbol_exam{
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}
.symbol_exam strong{
  font-size:var(--pc_sub_title) ;
}
.symbol_exam p{
  font-size:var(--pc_sub_body);
}
.symbol_exam p:nth-child(1){
  opacity: 0;
  transition: 0.7s;
  position: relative;
  top:70px
}
.symbol_exam p.active:nth-child(1){
  opacity: 1;
  top:0px
}
.symbol_exam p:nth-child(2){
  opacity: 0;
  transition: 0.7s 0.2s;
  position: relative;
  top:70px
}
.symbol_exam p.active:nth-child(2){
  opacity: 1;
  top:0px
}
.symbol_exam p:nth-child(3){
  opacity: 0;
  transition: 0.7s 0.3s;
  position: relative;
  top:70px
}
.symbol_exam p.active:nth-child(3){
  opacity: 1;
  top:0px
}
/* //section3 */

/* section4 */
.sec4_title{
  margin-bottom: 110px;
}
.ungc{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-bottom: 110px;
}
.ungc_img{
  display: flex;
  justify-content: center;
}
.ungc_exam{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap:10px;
}
.ungc_exam strong{
  font-size: var(--pc_sub_title);
}
/* //section4 */

/* section5 */
.sec5_title{
  margin-bottom: 110px;
}
.sdgs{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 110px;
}
.sdgs_exam{
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sdgs_exam strong{
  font-size: var(--pc_sub_title);
}
.sdgs_exam p{
  font-size:var(--pc_sub_body);
}
.slide_wrapper{
  width: 500px;
  position: absolute;
  bottom: 10%;
  left: 45%;
  overflow: hidden;
}
.slides{
  display: flex;
  position: relative;
  left: 0;
  gap: 10px;
}





@media screen and (max-width: 1480px){
  .circles{
    gap: 80px;
  }
}


@media screen and (max-width: 1440px){
  .csr_focus{
    width: 100%;
    gap: 10px;
  }
  .esn1,
  .esn2,
  .esn3{
  gap:10px;
  width: 242px;
  height: 112px;
  }
  .exam1,
  .exam2,
  .exam3{
    width: 300px;
    height: 363px;
    gap:30px;
  }
  .exam1>div,
  .exam2>div,
  .exam3>div{
  margin-left: 40px;
}
.csr_focus strong{
  font-size: var(--mo_sub_title);
}
.csr_focus span{
  font-size:var(--mo_body) ;
}
.circles{
  gap: 50px;
}
}
@media screen and (max-width: 1360px){
  .slide_wrapper{
    width: 500px;
    bottom: -1%;
    left: 43%;
  }
}

@media screen and (max-width: 1265px){
.circle1,
.circle2,
.circle3,
.circle4{  
  width: 200px;
  height: 200px;
}
.circle1>span,
.circle2>span,
.circle3>span,
.circle4>span{
  width: 120px;
  height: 30px;
  position: relative;
}
}
@media screen and (max-width: 1123px){
  .slide_wrapper{
    width: 400px;
    bottom: 0%;
    left: 50%;
  }
}

@media screen and (max-width: 1035px){
	.main_menu{
		font-size: var(--pc_sub_body);
		gap:30px;
	}
	.top_nav .nav_container{
		gap: 30px;
	}
	.main_menu .sub_menu{
		font-size: var(--mo_sub_body);
	}
  .csr_slogan>.slg_1,
  .csr_mission>.ms_1{
  font-size:var(--mo_mid_body) ;
}
.csr_slogan>.slg_2,
.csr_mission>.ms_2{
  font-size: var(--mo_mid_body);  
}
.tab_menu{
  height: 80px;
}
.tab_menu ul{
  font-size: var(--mo_body);
}
.tab_menu ul li:nth-child(4):after{
  height: 3px;
}
}
@media screen and (max-width: 1025px){
  .slide_wrapper{
    width: 350px;
    bottom: 0%;
    left: 53%;
  }
}
@media (min-width:706px) and (max-width: 945px){
  .circle1,
  .circle3{
    margin-right: 80px;
   }
  }


@media screen and (max-width: 945px){
  .csr_focus{
    width: 100%;
    gap: 10px;
  }
  .esn1,
  .esn2,
  .esn3{
  gap:10px;
  width: 200px;
  height: 80px;
  }
  .exam1,
  .exam2,
  .exam3{
    width: 250px;
    height: 303px;
    gap:30px;
  }
  .exam1>div,
  .exam2>div,
  .exam3>div{
  margin-left: 20px;
}
.csr_focus strong{
  font-size: var(--mo_body);
}
.csr_focus span{
  font-size:var(--mo_sub_body) ;
}
.gap{
  gap:30px;
}
.circles{
  flex-wrap: wrap ;
  height: 500px;
}
.circle1,
.circle2,
.circle3,
.circle4{
  margin-bottom: 0;
}


.circles:hover .circle1,
.circles:hover .circle2,
.circles:hover .circle3,
.circles:hover .circle4,
.circles:hover+.dashed{
  animation: none;
}
.symbol_img img{
  width: 400px;
  
}
.symbol_exam strong{
  font-size:var(--mo_sub_title) ;
}
.symbol_exam p{
  font-size:var(--mo_sub_body);
}
.ungc_exam strong{
  font-size: var(--mo_sub_title);
}
.ungc_exam p {
  font-size:var(--mo_sub_body);
}
.sdgs_img img{
  width: 300px;
}
.sdgs_exam strong{
  font-size: var(--mo_sub_title);
}
.sdgs_exam p{
  font-size:var(--mo_sub_body);
}
.slide_wrapper{
  position: absolute;
  bottom: 0%;
  left: 47%;
}
}
@media screen and (max-width: 869px){
  .slide_wrapper{
    display: none;
  }
  .sdgs_exam{
    padding-top: 50px;
  }
} 


@media screen and (max-width: 768px) {
  header .logo a {
    width: 78px;
    height: 21px;
    background: url(../images/header_icon_tb.svg) no-repeat; 
  }
  .sec1_title>h4{
    padding-bottom: 0;
  }
  .csr_slogan p:nth-child(2){
    padding-bottom: 0;
  }
  .csr_slogan,
  .sec1_title>h4,
  .sec2_title,
  .sec3_title,
  .sec3_title.active,
  .sec4_title,
  .sec5_title,
  .dashed{
    margin-bottom: 60px;  
  }
  .csr_focus{
    flex-direction: column;
  }
  .csr_focus strong{
    color:#fff;
    font-size: var(--pc_sub_title);
  }
  .esn1,
  .esn2,
  .esn3{
  display: flex;
  flex-direction:column;
  gap:15px;
  width: 342px;
  height: 112px;
  justify-content: center;
  align-items:center;
}
.exam1,
.exam2,
.exam3{
  gap:20px;
  justify-content: center;
  position: relative;
  top:-40px;
  width:400px;
  height: 363px;
  justify-content: center;
}
.exam1>div,
.exam2>div,
.exam3>div{
margin-left: 60px;
}
.gap{
  gap:30px;
}
.symbol{
  flex-direction: column;
  align-items:center;
}
.symbol_img{
  padding-left: 0;
}
.symbol_exam{
  padding-left:110px;
}
.ungc{
  flex-direction: column;
  align-items: center;
}
.ungc_exam{  
  padding: 0 130px;
  gap: 10px;
}
.sdgs{
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.sdgs_exam{
  gap: 10px;
}
.slide_wrapper{
  display: none;
}
.sdgs_exam{
  padding: 0 130px;
}
.csr_slogan>.slg_1,
.csr_mission>.ms_1{
  color: var(--tertiary);
  font-size:var(--mo_sub_title) ;
}
.csr_slogan>.slg_2,
.csr_mission>.ms_2{
  font-size: var(--mo_sub_title);  
}
}

@media screen and (max-width: 680px){
  
  .symbol_exam{
    padding-left:80px;
  }
  .ungc_exam{
    padding: 0 50px;
    gap: 10px;
  }
  .sdgs_exam{
    padding: 0 50px;
  }
}@media screen and (max-width: 632px){
  .tab_menu ul{
    gap:50px;
  }
}
@media screen and (max-width: 618px){
  
  .symbol_exam{
    padding-left:50px;
  }
  .tab_menu ul{
    gap:30px;
    font-size: var(--mo_sub_body)
  }
}


@media (max-width: 460px){
  
  .tab_menu ul{
    gap:10px;
    font-size: var(--mo_sub_body)
  }
  .csr_slogan>.slg_1,
  .csr_mission>.ms_1{
    display: none;
}
  .csr_slogan>.slg_2,
  .csr_mission>.ms_2{
    display: none;
}
.circles{
  height: 800px;
  margin-bottom: 110px;
}
.mo_ms{
  display: block;
  margin-bottom: 30px;
}
.esn1,
.esn2,
.esn3{
  gap:10px;
  width: 200px;
  height: 80px;
}
.exam1,
.exam2,
.exam3{
  width: 280px;
  height: 303px;
  gap:15px;
}
.exam1>div,
.exam2>div,
.exam3>div{
margin-left: 10px;
}
.symbol_exam,
.ungc_exam,
.sdgs_exam{
  padding: 0 0;
}

}

@media (max-width: 320px){
  .csr_focus,
  .symbol,
  .ungc,
  .sdgs{
    margin-bottom: 60px;
  }
  .sec3_title.active{
    margin-bottom: 50px;
  }
  .sec1_title>h4,
  .sec2_title,
  .csr_slogan,
  .csr_mission,
  .sec3_title.active,
  .sec4_title,
  .sec5_title{
    margin-bottom: 0;
  }
  .symbol_img img{
    width: 210px;
  }
  .dashed{
    margin-bottom: 0;
  }
  
}
