header .logo a {
  background: url(../images/header_icon2.svg) no-repeat;
}

.top_nav {
  background-color: #fff;
  border-bottom: 1px solid #000;
}

.main_menu>li>p {
  color: #000;
}

.tab_menu {
  width: 100%;
  height: 87px;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  margin-bottom: 110px;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, .85);
  z-index: 997;
}

.tab_menu ul {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 100px;
  font-size: var(--pc_body);
}

.tab_menu ul li {
  position: relative;
}

.tab_menu ul li:nth-child(1):after {
  display: block;
  content: '';
  background-color: var(--primary);
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -170%;
  transition: 0.3s;
  transform: scaleX(1);
}

.tab_menu ul li:nth-child(1) a {
  color: var(--primary);
}

.tab_menu ul li a:hover {
  color: var(--primary);
}

.tab_menu ul li:after {
  display: block;
  content: '';
  background-color: var(--primary);
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -170%;
  transition: 0.3s;
  transform: scaleX(0);
}

.tab_menu ul li:hover::after {
  transform: scaleX(1);
}

/*SWIPER SLIDE*/
.all_news {
  display: none;
}

.swiper {
  width: 100%;
}

.section3 h2 {
  font-size: var(--pc_title);
  color: var(--secondary);
  font-weight: 500;
  font-family: 'hdharmony';
}

.swiper-wrapper>* {
  background: var(--lilightgray);
}

.img_box img {
  height: 448px;
  width: 100%;
  object-fit: cover;
  background-size: cover;
}

.txt_box {
  padding: 56px 84px;
  background: #E9ECEF;

  .time_contents {
    justify-content: space-between;

    .contents {
      font-size: var(--pc_body);
      color: var(--tertiary);
    }
  }

  h4 {
    font-size: var(--pc_mid_body);
    line-height: 44px;
  }

  .desc {
    font-size: var(--pc_sub_body);
    line-height: 28px;
  }
}

.more_btn {
  width: 93px;
  height: 28px;
  background: var(--tertiary);
  position: absolute;
  display: inline-block;
  padding: 6px;
}

.more_btn:hover {
  background: var(--secondary);
  transition: .3s ease-in-out;
}

.more_btn p {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: var(--pc_sub_body);
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--lightgray);
  top: calc(50% + 22px)
}

.swiper-button-prev.active,
.swiper-button-next.active {
  color: var(--secondary);
}

.eco_friendly_left {
  display: flex;
  justify-content: end;
}

section {
  margin-bottom: 84px;
  margin: 0 auto;
}

.stringcut {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
}

.t1 {
  width: 90%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.t3 {
  width: 90%;
  height: 33%;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/*SWIPER SLIDE끝*/

/*SWIPER TAB*/
.tab-container {
  .tab {
    cursor: pointer;
    font-size: var(--pc_sub_title);
    font-family: 'hdharmony';
  }

  .tab.active {
    background-color: var(--primary);
    color: #fff;
    transition-duration: .3s;

  }

  .tabs {
    margin-left: 50px;

    .tab {
      transition: .3s;
    }

    .news {
      width: 150px;
    }

    .youtube,
    .sports {
      width: 170px;
    }
  }

  .swiper-content {
    display: none;
  }

  .swiper-content-first {
    display: block;
  }

  .tab-wrapper {
    justify-content: center;

    .swiper-tab,
    .tab_img {
      height: 360px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0;
    }

    .tab-content {
      margin: 0 auto;
    }

    .tab_img_1 {
      background: url(../images/newscenter/news1.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_2 {
      background: url(../images/newscenter/news2.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_3 {
      background: url(../images/newscenter/news3.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_4 {
      background: url(../images/newscenter/news4.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_5 {
      background: url(../images/newscenter/news5.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_6 {
      background: url(../images/newscenter/news6.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_7 {
      background: url(../images/newscenter/news7.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_8 {
      background: url(../images/newscenter/news8.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_9 {
      background: url(../images/newscenter/news9.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_2_1 {
      background: url(../images/newscenter/sports1.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_2_2 {
      background: url(../images/newscenter/sports2.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_2_3 {
      background: url(../images/newscenter/sports3.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_2_4 {
      background: url(../images/newscenter/sports4.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_2_5 {
      background: url(../images/newscenter/sports5.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_2_6 {
      background: url(../images/newscenter/sports6.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_2_7 {
      background: url(../images/newscenter/sports7.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_2_8 {
      background: url(../images/newscenter/sports8.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_2_9 {
      background: url(../images/newscenter/sports9.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_3_1 {
      background: url(../images/newscenter/youtube1.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_3_2 {
      background: url(../images/newscenter/youtube2.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_3_3 {
      background: url(../images/newscenter/youtube3.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_3_4 {
      background: url(../images/newscenter/youtube4.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_3_5 {
      background: url(../images/newscenter/youtube5.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_3_6 {
      background: url(../images/newscenter/youtube6.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_3_7 {
      background: url(../images/newscenter/youtube7.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_3_8 {
      background: url(../images/newscenter/youtube8.jpg)no-repeat;
      background-size: cover;
    }

    .tab_img_3_9 {
      background: url(../images/newscenter/youtube9.jpg)no-repeat;
      background-size: cover;
    }

    .img-cover {
      background-color: rgba(0, 0, 0, .5);
      width: 100%;
      height: 360px;
    }

    .swiper-tab:hover .tab_title>p {
      color: #000;
      transition: 0.3s;
    }

    .swiper-tab:hover .img-cover {
      background-color: #fff;
      border: 3px solid var(--tertiary);
      transition: 0.3s;
    }

  }
}

.sub_prx_txt {
  display: block;
}

.tab_title {
  padding: 40px;
  position: absolute;
  text-align: left;
  margin-top: 0;
  padding: 40px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tab_title p {
  top: 0;
  color: #fff;
  font-size: var(--pc_sub_title);
  vertical-align: top;
  font-family: 'hdharmony';
  font-weight: 300;
  line-height: 32px;
}

.tab_title span {
  display: block;
}

.tab_title em {
  color: #acacac;
  position: absolute;
  display: block;
  bottom: 40px;
  left: 40px;
  font-size: 17px;
}

.tab_title em:before {
  display: block;
  margin-bottom: 14px;
  width: 35px;
  height: 2px;
  background: #acacac;
  content: "";
}

.btn-set2 {
  display: none;
}

.label {
  width: 75px;
  height: 30px;
  left: 0;
  top: 0;
  border-radius: 15px 0 0 0;
  z-index: 1;
  position: absolute;
  text-align: center;
  align-items: center;
  font-weight: bold;
  color: #ffffff;
  font-family: 'hdharmony';
  line-height: 32px;
  display: none;
}

.one {
  background: var(--tertiary);
}

.two {
  background: #1E8B42;
}

.three {
  background: #ae3032;
}

.d-none {
  display: none;
}

.search-wrapper {
  width: 25%;
  margin-left: 30%;
}

/* md devices (tablet, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .section3 {
    h2 {
      font-size: var(--mo_title);
    }

    h4.title {
      height: 30%;
    }

    .t2 {
      width: 80%;
      height: 30%;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      font-size: var(--mo_sub_title);
    }

    .t3 {
      font-size: var(--mo_sub_body);
      -webkit-line-clamp: 3;
      line-height: 18px;
      height: 37%;
    }

    .t1 {
      font-size: var(--mo_sub_body);
      -webkit-line-clamp: 3;
      line-height: 18px;
    }

    .txt_box {
      padding: 40px 42px;

      .contents {
        font-size: var(--mo_body);
      }

      .time {
        font-size: 14px;
      }
    }

    .tab-content.swiper-content {
      display: none;
    }
  }

  .tab_title p {
    font-size: 22px;
    line-height: 22px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 20px;
    height: 35px;
    color: var(--lightgray);
    top: calc(50% + 22px)
  }

  .last {
    display: none;
  }

  .tab.news {
    width: 30px;
    font-size: var(--mo_sub_title);
  }

  .tab.sports {
    width: 70px;
    font-size: var(--mo_sub_title);
  }

  .tab.youtube {
    width: 70px;
    font-size: var(--mo_sub_title);
  }

  .tabs.tab-header {
    width: 84%;
  }

  .swiper-slide {
    height: 300px;
  }

  .search-wrapper {
    display: none;
  }
}
.btn-primary span{
  display: inline-block;
}

/* lg devices (PC버전desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .section3 {






    .t1 {
      height: 35%;
    }

    .swiper {
      height: 400px;
    }
  }
}

@media (min-width: 1035px) and (max-width: 1199px) {
  .section3 {
    h2 {
      font-size: 48px;
    }

    .txt_box {
      padding: 50px 50px;
    }

    .t1 {
      height: 37%;
    }

    h4.title {
      width: 100%;
      height: 29%;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 24px;
      line-height: 30px;
    }

    h4.title.work {
      height: 32%;
    }

    .t3 {
      height: 42%;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  .search-wrapper {
    width: 25%;
    margin-left: 17%;
  }
}

/* xl devices (1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .section3 {
    h2 {
      font-size: 48px;
    }

    h4.title {
      height: 35%;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: var(--pc_sub_title);
    }

    .t3 {
      width: 90%;
      height: 34%;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

}

@media (min-width: 1400px) and (max-width: 1600px) {
  h4.title {
    height: 35%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: var(--pc_sub_title);
  }

  .t3 {
    width: 90%;
    height: 33%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
@media (max-width: 1920px){
  .search-wrapper {
    width: 25%;
    margin-left: 27%;
}
}

@media screen and (max-width: 1035px) {
  .main_menu {
    font-size: var(--pc_sub_body);
    gap: 30px;
  }

  .top_nav .nav_container {
    gap: 30px;
  }

  .main_menu .sub_menu {
    font-size: var(--mo_sub_body);
  }

  .section3 {
    h2 {
      font-size: 42px;
    }

    h4.title {
      height: 26%;
      -webkit-line-clamp: 1;

    }

    .t3 {
      height: 35%;
    }

    .txt_box {
      padding: 36px 38px;
      bottom: 0;
    }
  }
}

@media screen and (max-width: 1035px) {
  .tab_menu {
    height: 80px;
  }

  .tab_menu ul {
    font-size: var(--mo_body);
  }

  .tab_menu ul li:nth-child(4):after {
    height: 3px;
  }
}

/* sm */
@media (min-width: 576px) and (max-width: 767px) {}

@media screen and (max-width: 767px) {
  .tab-wrapper {
    display: block !important;
    border-radius: 10px;
  }

  .tab-wrapper p {
    color: #000;
    font-size: var(--mo_body);
    line-height: var(--mo_sub_title);
  }

  .tab_title span {
    display: inline;
  }

  .swiper-content {
    display: block !important;
    margin-top: 50px;
  }

  button.slick-prev,
  button.slick-next {
    display: none !important;
  }

  .tab-header.swiper-wrapper {
    display: none !important;
  }

  .img-cover,
  .swiper-tab {
    border-radius: 15px;
  }

  .tab_title em {
    color: var(--tertiary);
    font-size: var(--mo_sub_body);
    left: 30px;
  }

  .tab_title em:before {
    background: var(--lightgray);
    width: 23em;
    height: .8px;
  }

  .tab_title {
    width: 100%;
    height: 40%;
    top: 60%;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid var(--lightgray);
    border-radius: 0 0 15px 15px;
    padding: 30px;
  }

  .swiper-tab,
  .tab_img {
    height: 300px;
  }

  .img_box {
    position: relative;
    width: 100%;
  }

  .img_box img {
    border-radius: 20px;
    height: auto;
    object-fit: cover;
  }

  .img_box::after {
    content: '';
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
    border-radius: 20px;
  }

  .section3.hidden1,
  h2,
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  span {
    display: block;
  }

  h4.title {
    font-size: var(--mo_body);
    width: 100%;
    line-height: var(--mo_sub_title);
  }

  .all_news {
    display: block;
    text-align: center;

    h3 {
      font-size: var(--mo_title);
    }

    h4 {
      font-size: var(--mo_sub_title);
    }
  }

  .txt_box {
    position: absolute;
    z-index: 10;
    color: #fff;
    bottom: 7%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: transparent;
    border-radius: 20px;


    .time_contents {
      font-size: var(--mo_body);
      order: 1;
    }

    time.time {
      font-size: var(--mo_sub_body);
    }

    .contents,
    .desc {
      display: none;
    }

    .more_btn {
      width: 80px;
      height: 23px;
      right: 50px;
      bottom: 28px;
      border-radius: 20px;
      background: transparent;
      border: 1px solid white;
    }

    .more_btn p {
      font-size: var(--mo_sub_body);
    }

    /* 임시 호버-> 클릭 효과 예정 */
    .more_btn:hover {
      background: var(--tertiary);
    }
  }

  .swiper-wrapper {
    border-radius: 20px;
  }

  .section_wrapper {
    height: 30%;
    width: 100%;
    background: #F0F3FA;
  }

  .tab-container .tabs {
    display: none;
  }

  .swiper-tab:hover .img-cover {
    background-color: rgba(0, 0, 0, .5) !important;
    border: none !important;
    transition: none !important;
  }

  .label {
    display: block;
  }
  
}

@media screen and (max-width: 768px) {
  header .logo a {
    width: 78px;
    height: 21px;
    background: url(../images/header_icon_tb.svg) no-repeat;
  }

  
}

@media screen and (max-width: 680px) {
  .tab_menu ul {
    gap: 50px;
  }
}

@media screen and (max-width: 376px) {
  .tab_menu ul {
    gap: 10px;
    font-size: var(--mo_sub_body);
  }

  .txt_box {
    bottom: 0;
    display: flex;

    .more_btn {
      bottom: 14px;
      right: 30px;
      padding: 4px;
    }
  }

  .txt_box h4.title {
    font-size: var(--mo_sub_body);
    left: 0;
  }

  time.time {
    font-size: 12px;
    height: 20px;
  }

  .time_contents {
    height: 12px;
  }

  .tab-container {
    .tab-wrapper {

      .swiper-tab,
      .tab_img,
      .img-cover {
        height: 300px;
      }
    }

    em::before {
      display: none;
    }
  }

  .tab_title {
    padding: 18px;

    em {
      left: 18px;
      bottom: 18px;
    }
  }

  .all_news {
    h3 {
      font-size: var(--mo_mid_body);
    }

  }

  .section3 {
    .txt_box {
      padding: 18px 30px;
      bottom: 0;
    }
  }

  .txt_box {}
}