@charset "UTF-8";

/* 공통 부분 */

body {
  font-family: 'SUIT Variable', sans-serif;

}

main h2 {
  font-size: 3.125rem;
  font-family: 'hdharmony';
  font-weight: 700;
  line-height: 4.375rem;
}

main h3 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 3.5rem;
}

main h4 {
  font-size: var(--pc_body);
}

main h5 {
  font-size: var(--pc_sub_body);
}

/* 공통 부분 끝 */

/* header */
.top_nav {
  background-color: #fff;
  border-bottom: 1px solid #000;
}

.main_menu>li>p {
  color: #000;
}

header {
  height: auto;
}

header .logo a {
  background: url(../images/header_icon2.svg) no-repeat;
}

header div.top_nav {
  border-bottom: 1px solid #000;
  background-color: #fff;
}



.tab_menu {
  width: 100%;
  height: 87px;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, .85);
  z-index: 997;
}

.tab_menu ul {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 100px;
  font-size: var(--pc_body);
}

.tab_menu ul li {
  position: relative;
}

.tab_menu ul li:nth-child(1):after {
  display: block;
  content: '';
  background-color: var(--primary);
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -170%;
  transition: 0.3s;
  transform: scaleX(1);
  z-index: 10;
}

.tab_menu ul li:nth-child(1) a {
  color: var(--primary);
}

.tab_menu ul li a:hover {
  color: var(--primary);
}

.tab_menu ul li:after {
  display: block;
  content: '';
  background-color: var(--primary);
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -170%;
  transition: 0.3s;
  transform: scaleX(0);
}

.tab_menu ul li:hover::after {
  transform: scaleX(1);
}





/* section 01 */
.section1 {
  color: #fff;
  background-color: var(--primary);
  overflow-x: hidden;
}

.sec1_wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 10.5rem 0;
}

.sec1_swiper {
  max-width: 100%;
  height: 100%;
  overflow: visible;
}

.sec1_title h3 {
  padding-bottom: 5.25rem;
}

.sec1_title h3.sec_mo {
  display: none;
}

.sec1_progress-box {
  width: 100%;
  height: 100%;
}

.sec1_pager {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 2rem;

  h5 {
    border: 1px solid #fff;
    border-radius: 0;
    text-align: center;
    width: auto;
    height: 100%;
    padding: 14px 20px;
    font-size: var(--pc_sub_body);
    color: #fff;

    span {
      color: #fff;
    }
  }
}

.section1 .swiper-pagination-bullet {
  background: none;
  opacity: 1;
}

.section1 .swiper-pagination-bullet.on {
  /* background-color: rgba(255, 255, 255, .3); */
  position: relative;
  z-index: 1;
}

.section1 .swiper-pagination-bullet.on:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: calc(var(--progress) * 100%);
  z-index: -1;
  background: rgba(255, 255, 255, .5);
}

.autoplay-progress {
  position: relative;
  /* width: 100%; */
  height: 5px;
}

/* .autoplay-progress svg {
	--progress: 0;
	position: absolute;
	left: 0;
	top: 0;
  height: 100%;
	z-index: 10;
	stroke: #fff;
	fill: none;
} */
.autoplay-progress svg line {
  stroke-width: 4px;
  stroke: #fff;
  stroke-dashoffset: calc(950 * (1 - var(--progress)));
  stroke-dasharray: 950;
  width: 100%;
}


.section1 .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1 .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

.sec1_img_wrapper {
  position: relative;
}

.sec1_img_wrapper:after {
  position: absolute;
  content: '';
  background: rgba(0, 0, 0, .4);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.sec1_slide01,
.sec1_slide02 {
  position: relative;
}

.sec1_slide01 h3,
.sec1_slide01 p,
.sec1_slide02 h3,
.sec1_slide02 p {
  position: absolute;
  left: 45%;
}

.sec1_desc h3 {
  top: 60%;
}

.sec1_desc p {
  line-height: 28px;
  bottom: 18%;
}

/* section 01 끝*/

/* section 02 */

.section2 {
  background-image: url(../images/product/sec2_bg.jpg);
  background-repeat: no-repeat;
  background-color: rgba(10, 41, 114, .7);
  background-size: cover;
  background-position: left center;
  background-blend-mode: multiply;
  color: #fff;
  width: 100%;
  height: 1092px;
  overflow: hidden;
}

.sec2_wrap {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.sec2_title {
  font-family: 'hdharmony';
  font-weight: 500;
  font-size: var(--mo_big);
  line-height: 70px;
  white-space: pre-line;
  padding-top: 169px;
  padding-bottom: 573px;
  margin-right: 15%;
  margin-left: 3%;
}

.sec2_desc {
  display: flex;
}

.sec2_productlist01,
.sec2_productlist02 {
  width: 275px;
  transition-timing-function: linear;
}


.sec2_swiper01,
.sec2_swiper02 {
  width: 275px;
  height: 1092px;
}

.sec2_swiper01 {
  margin-left: 0;
}

.sec2_swiper02 {
  margin-left: 60px;
  margin-top: -192px;
}

.sec2_list_plate {
  background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1)), linear-gradient(rgba(255, 255, 255, .0), rgba(0, 0, 0, .8) 75%, rgba(0, 0, 0, .2) 100%), url(../images/product/sec2_list_plate.jpg);
}

.section2 .sec2_list_plate:hover {
  background-image: url(../images/product/sec2_list_plate.jpg);
}

.sec2_list_hot {
  background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1)), linear-gradient(rgba(255, 255, 255, .0), rgba(0, 0, 0, .8) 75%, rgba(0, 0, 0, .2) 100%), url(../images/product/sec2_list_hotroll.jpg);
}

.sec2_list_hot:hover {
  background-image: url(../images/product/sec2_list_hotroll.jpg);
}

.sec2_list_cold {
  background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1)), linear-gradient(rgba(255, 255, 255, .0), rgba(0, 0, 0, .8) 75%, rgba(0, 0, 0, .2) 100%), url(../images/product/sec2_list_coldroll.jpg);
}

.sec2_list_cold:hover {
  background-image: url(../images/product/sec2_list_coldroll.jpg);
}

.sec2_list_car {
  background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1)),
    linear-gradient(rgba(255, 255, 255, .0),
      rgba(0, 0, 0, .8) 75%, rgba(0, 0, 0, .2) 100%),
    url(../images/product/sec2_list_lightcar.png);
}

.sec2_list_car:hover {
  background-image: url(../images/product/sec2_list_lightcar.png);
}

.sec2_list_steel {
  background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1)), linear-gradient(rgba(255, 255, 255, .0), rgba(0, 0, 0, .8) 75%, rgba(0, 0, 0, .2) 100%), url(../images/product/sec2_list_steel.jpg);
}

.sec2_list_steel:hover {
  background-image: url(../images/product/sec2_list_steel.jpg);
}

.sec2_list_hbeam {
  background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1)), linear-gradient(rgba(255, 255, 255, .0), rgba(0, 0, 0, .8) 75%, rgba(0, 0, 0, .2) 100%), url(../images/product/sec2_list_beams.jpg);
}

.sec2_list_hbeam:hover {
  background-image: url(../images/product/sec2_list_beams.jpg);
}

.sec2_list_speacial {
  background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1)), linear-gradient(rgba(255, 255, 255, .0), rgba(0, 0, 0, .8) 75%, rgba(0, 0, 0, .2) 100%), url(../images/product/sec2_list_special.jpg);
}

.sec2_list_speacial:hover {
  background-image: url(../images/product/sec2_list_special.jpg);
}

.sec2_list_caterpillar {
  background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1)), linear-gradient(rgba(255, 255, 255, .0), rgba(0, 0, 0, .8) 75%, rgba(0, 0, 0, .2) 100%), url(../images/product/sec2_list_cat.jpg);
}

.sec2_list_caterpillar:hover {
  background-image: url(../images/product/sec2_list_cat.jpg);
}

.section2 .swiper-slide {
  position: relative;
  padding: 83px 37px;
  width: 275px;
  height: 364px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 20px;
  cursor: pointer;
}

.section2 .swiper-slide h4 {
  text-align: left;
  font-weight: 500;
  line-height: 1.5rem;
}

.section2 .swiper-slide p {
  display: none;
  line-height: 25px;
  transform: translateY(50px);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.section2 .swiper-slide:hover {
  background-color: rgba(10, 41, 114, .7);
  background-blend-mode: multiply;
}

.section2 .swiper-slide:hover p {
  display: block;
  transform: translateY(0);
}

.section2 .swiper-slide:after {
  position: absolute;
  content: '+';
  top: 28px;
  right: 28px;
  font-size: 18px;

}

.section2 .swiper-slide:hover:after {
  content: '더보기 +';
  animation: bling 2s ease infinite;
  -moz-animation: bling 1s ease infinite;
  -webkit-animation: bling 1s ease infinite;
}

@keyframes bling {

  0%,
  100% {
    text-shadow: 0 0 1vw var(--secondary), 0 0 3vw var(--secondary), 0 0 10vw var(--secondary), 0 0 10vw var(--secondary)0 0 .4vw #28a8fe, .5vw .5vw .1vw #144f80;
    color: var(--secondary);
  }

  50% {
    text-shadow: 0 0 .5vw #170b80, 0 0 1.5vw #170b80, 0 0 5vw #170b80, 0 0 5vw #170b80, 0 0 .2vw #170b80, .5vw .5vw .1vw #141b80;
    color: #fff;
  }
}


/* section 02끝 */


/* section 03 */
.section3 {
  width: 100%;
  height: 669px;
  margin-top: 10.5rem;
  overflow: hidden;
}

.sec3_wrap {
  width: 100%;
}

.section3 .sec3_title h2 {
  white-space: pre-line;
}

.sec3swiper {
  width: 100%;
  height: 350px;
  position: relative;
}


.section3 .sec3_desc>div {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 23px;
}

.section3 .sec3_desc h4 {
  font-size: var(--pc_sub_title);
  font-family: 'hdharmony';
  font-weight: 500;
}

.section3 .sec3_desc p {
  font-size: var(--pc_sub_body);
  line-height: var(--pc_sub_title);
}

.sec3_desc .swiper-slide {
  width: 190px;
  height: 311px;
}

.sec3_desc .swiper-slide:hover img {
  animation: motion 0.8s infinite;
}

@keyframes motion {

  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -5px);
  }

  100% {
    transform: translate(0, 0);
  }

}

.sec3swiper .sec3_pager {

  display: flex;
  align-items: center;
  position: absolute;
  width: 129px;
  height: 10px;
  bottom: 30px;
  left: 50%;
  margin-left: -50px;
  /* transform-style: preserve-3d; */
  /* transform: translateX(calc(-100% + 16px + 12px)); */

}

.sec3_pager span.swiper-pagination-bullet-active {
  width: 25px;
  border-radius: 5px;
}

.sec3_pager {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* transform: scale(.75); */
}


/* section 03끝 */

/* 반응형 */


/* xs devices (less than 576px) */
@media (max-width: 530px) {
  .sec2_wrap .sec2_title span {
    display: block;
  }


}
@media (max-width: 575.98px) {

  /* tab_menu */

  .tab_menu ul {
    font-size: var(--mo_sub_body);
    font-weight: 500;
    gap: 40px;
  }

  /* tab_menu */

  /* section 01 */

  .sec1_wrapper {
    width: 100%;
    padding: 5rem 0;
  }

  .section1 .swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .sec1_title {
    padding: 0 1rem;
  }

  .sec1_title h3.sec_pc {
    display: none;
  }

  .sec1_title h3.sec_mo {
    padding-bottom: 3rem;
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
  }

  .sec1_pager span i {
    display: block;
  }

  .sec1_pager h5 {
    width: 100%;
    line-height: 18px;
    font-size: 13px;
    padding: 3px 0;
  }

  .sec1_img_wrapper {
    height: 500px;
  }

  .sec1_slide01 h3,
  .sec1_slide01 p,
  .sec1_slide02 h3,
  .sec1_slide02 p {
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: auto;
  }

  .section1 h3 {
    font-size: var(--mo_sub_title);
    line-height: 45px;
    top: 50%;
    text-align: center;
  }

  .sec1_desc h3 {
    bottom: 0;
  }

  .sec1_slide02 h3 {
    height: 53px;
    top: 52%;
    line-height: 30px;

  }

  .sec1_slide02 h3 span {
    display: block;
  }

  .sec1_desc p {
    font-size: var(--mo_sub_body);
    line-height: 25px;
    bottom: 13%;
    white-space: pre-line;
  }

  .sec1_desc p br {
    display: none;
  }

  /* section 01 끝*/
  /* section 02 */

  .section2 {
    height: 800px;
  }

  .sec2_list02 {
    display: none;
  }

  .sec2_wrap {
    flex-direction: column;
  }

  .sec2_wrap .sec2_title {
    font-size: var(--mo_sub_title);
    font-weight: 600;
    font-family: 'SUIT Variable', sans-serif;
    line-height: var(--mo_mid_body);
    text-align: center;
    padding-top: 0px;
    margin-top: 150px;
    white-space: normal;
    padding-bottom: 60px;
    margin-right: 0;
  }

  .sec2_wrap .sec2_title span:first-child {
    display: block;
  }

  .sec2_desc {
    justify-content: center;
  }

  .section2 .swiper-slide {
    height: 400px;
  }

  .sec2_list01 {
    width: 90%;
    height: 400px;
  }


  /* section 02 끝*/

  /* section 03 */

  .section3 {
    margin-top: 8rem;
    height: 600px;
  }
  .sec3_title h2 {
    font-size: var(--mo_sub_title);
    font-weight: 600;
    font-family: 'SUIT Variable', sans-serif;
    line-height: var(--mo_mid_body);
    text-align: center;
  }
  /* section 03 끝 */

}


@media (max-width: 768px) {

  header .logo a {
    width: 78px;
    height: 21px;
    background: url(../images/header_icon_tb.svg) no-repeat;
  }

  /* tab_menu */

  .tab_menu ul {
    font-size: var(--mo_body);
    font-weight: 600;
  }

  /* tab_menu */
}



/* sm devices (phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {


  /* section 01 */

  .sec1_wrapper {
    width: 100%;
    padding: 8rem 0;
  }

  .section1 .swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .sec1_title {
    padding: 0 1rem;
  }

  .sec1_title h3 {
    padding-bottom: 4rem;
  }

  .sec1_title h3.sec_pc {
    display: none;
  }

  .sec1_title h3.sec_mo {
    display: block;
    text-align: center;
    font-size: 30px;
  }

  .sec1_pager span i {
    display: block;
  }

  .sec1_pager h5 {
    width: 100%;
    line-height: 20px;
  }

  .sec1_img_wrapper {
    height: 400px;
  }

  .sec1_slide01 h3,
  .sec1_slide01 p,
  .sec1_slide02 h3,
  .sec1_slide02 p {
    right: 0;
    left: 0;
    width: 95%;
    text-align: center;
    padding-left: 3rem;
  }

  .section1 h3 {
    font-size: var(--mo_title);
    line-height: 45px;
  }

  .sec1_desc h3 {
    top: 30%
  }

  .sec1_slide02 h3 {
    top: 25%
  }

  .sec1_slide02 h3 span {
    display: block;
  }

  .sec1_desc p {
    font-size: var(--mo_body);
    line-height: 28px;
    bottom: 16%;
    white-space: pre-line;
  }

  .sec1_desc p br {
    display: none;
  }

  /* section 01 끝*/
  /* section 02 */

  .section2 {
    height: 900px;
  }
  .sec2_list02 {
    display: none;
  }

  .sec2_wrap {
    flex-direction: column;
  }

  .sec2_wrap .sec2_title {
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    text-align: center;
    padding-top: 0px;
    margin-top: 150px;
    white-space: normal;
    padding-bottom: 40px;
    margin-right: 0;
  }

  .sec2_wrap .sec2_title span:first-child {
    display: block;
  }

  .sec2_desc {
    justify-content: center;
  }

  .section2 .swiper-slide {
    height: 400px;
  }

  .sec2_list01 {
    width: 90%;
    height: 400px;
  }

  /* section 02 끝*/

  
  /* section 03 */

  .section3 {
    margin-top: 8rem;
    height: 600px;
  }

  .sec3_title h2 {
    font-size: 30px;
    font-weight: 600;
    font-family: 'SUIT Variable', sans-serif;
    line-height: 45px;
    text-align: center;
  }
  /* section 03 끝 */


}

@media screen and (max-width: 768px) {
  header .logo a {
    width: 78px;
    height: 21px;
    background: url(../images/header_icon_tb.svg) no-repeat;
  }
}

/* md devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

  /* section 01 */

  .sec1_wrapper {
    width: 100%;
    padding: 8rem 0;
  }

  .sec1_title {
    padding: 0 3rem;
  }

  .section1 .swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }



  .sec1_title h3 {
    padding-bottom: 4.5rem;
  }


  .sec1_slide01 h3,
  .sec1_slide01 p,
  .sec1_slide02 h3,
  .sec1_slide02 p {
    right: 0;
    left: 0;
    width: 95%;
    text-align: left;
    padding-left: 3rem;
  }

  .section1 h3 {
    font-size: var(--mo_title);
    line-height: 45px;
  }

  .sec1_desc h3 {
    top: 40%
  }

  .sec1_slide02 h3 {
    top: 30%
  }

  .sec1_slide02 h3 span {
    display: block;
  }

  .sec1_desc p {
    font-size: var(--mo_body);
    line-height: 28px;
    bottom: 16%;

    span {
      display: block;
    }
  }

  /* section 01 끝*/

  /* section 02 */

  .section2 .sec2_wrap {
    position: relative;
  }

  .sec2_wrap .sec2_title {
    position: absolute;
    font-size: 1.9rem;
    line-height: var(--mo_big);
    left: 12.5%;
    text-align: right;
    padding-top: 100px;
  }

  .sec2_desc {
    position: relative;
    width: 100%;
    /* display: flex;
      justify-content: center;
      align-items: center; */
  }

  .sec2_list01 {
    position: absolute;
    left: 14%;
    top: 50%;
    overflow: hidden;
  }

  .sec2_list02 {
    margin-left: 55%;
  }

  /* section 02 끝*/
  /* section 03 */

  .sec3_title h2 {
    font-size: 1.9rem;
    line-height: var(--mo_big);
  }
  /* section 03 끝*/
}

/* lg devices (PC버전desktops, 992px and up) */
@media (max-width: 1031px) {

  /* tab_menu */

  .tab_menu ul {
    font-size: var(--sub_body);
    font-weight: 600;


    /* tab_menu */
  }
}

/* lg devices (PC버전desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {


  /* section 01 */
  .sec1_wrapper {
    padding: 8rem 3rem;
  }

  .sec1_title h3 {
    padding-bottom: 3.5rem;
  }

  .sec1_slide01 h3,
  .sec1_slide01 p,
  .sec1_slide02 h3,
  .sec1_slide02 p {
    left: 40%;
  }

  .section1 h3 {
    font-size: 30px;
    line-height: 45px;
  }

  .sec1_desc h3 {
    top: 50%;
  }

  .sec1_desc p {

    line-height: 28px;
    bottom: 16%;

    span {
      display: block;
    }
  }

  /* section 01 끝*/

  /* section 02 */
  .section2 .sec2_wrap {
    position: relative;
  }

  .sec2_wrap .sec2_title {
    position: absolute;
    font-size: 1.9rem;
    line-height: var(--mo_big);
    left: 18.5%;
    text-align: right;
    padding-top: 100px;
  }

  .sec2_title {
    font-size: var(--mo_title);
    line-height: var(--mo_big);
    margin-right: 15%;
  }
  .sec2_desc {
    position: relative;
    width: 100%;
    /* display: flex;
      justify-content: center;
      align-items: center; */
  }

  .sec2_list01 {
    position: absolute;
    left: 20%;
    top: 50%;
    overflow: hidden;
  }

  .sec2_list02 {
    margin-left: 52%;
  }


  /* section 02 끝 */



}

/* xl devices (1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

  /* section 01 */
  .sec1_wrapper {
    padding: 8rem 3rem;
  }


  .sec1_slide01 h3,
  .sec1_slide01 p,
  .sec1_slide02 h3,
  .sec1_slide02 p {
    left: 40%;
  }

  .section1 h3 {
    font-size: 35px;
  }

  .sec1_desc h3 {
    bottom: 40%;
  }

  .sec1_desc p {
    line-height: 28px;
    bottom: 16%;
  }

  /* section 01 끝*/
  /* section 02 */
  .sec2_wrap {
    padding: 8rem 3rem;
  }

  .sec2_title {
    font-size: var(--mo_title);
    line-height: var(--mo_big);
    margin-right: 15%;
  }

  .sec2_swiper01 {
    margin-left: 0;
  }

  .sec2_swiper02 {
    margin-left: 10%;
    margin-top: -192px;
  }

  /* section 02 끝 */

}

/*xxl devices (1400px and up)*/
@media screen and (min-width: 1400px) {

  /* section 01 */
  .sec1_wrapper {
    width: 1440px;
    padding: 10.5rem 3rem;
  }

  /* section 01 끝*/

  /* section 02 */

  .sec2_wrap {
    width: 1440px;
  }

  /* section 02 끝 */

}


/* 반응형 끝 */