*{
  margin:0;
  padding: 0;  
}
.slidewrapper{
  width: 100%;
  /* margin:3em auto; */
  background: #ccc;
  position: relative;
  overflow:hidden;
  height: 100vh;

}
.slidecontainer{
  position: relative;
  display: flex;
  left:0;
  height: 100vh;

  /* 이거의 넓이에 따라 옆으로 퍼지는데 이건 slides갯수에 따라 달라지므로 js에서 해결
  즉, 여기서 넓이를 잡는게 아니다. */
}
.slidecontainer.animated{
  transition:left 0.3s;
}
.slide {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;  
  background: #ebebeb;
  text-transform: uppercase;
  position: absolute;  
  left: 0; top:0;
}

.pager {
  position: absolute;
  left: 0;right: 0; bottom: 10px;
  display: flex;
  justify-content: center; gap: 10px;
}

.pager a {
  width: 20px;
  height: 20px;
  background: #ccc;
  text-indent: -9999em;
  cursor: pointer;
}

.pager a.active {
  background: #000;
}