@charset "utf-8";

/* 이 페이지는 공통된 사항이 아닌 것들만.. */
.cf:after{content: ''; display: block; clear: both;}
.banner .section-tt{
  color: var(--white);
}
.banner img{
  display: block; margin: 0 auto;
}

.feature li{
  background-color: pink;
  width: 408px;
  float: left;
  margin-right: 24px;
  text-align: center;
}

.feature li:last-child{
  margin-right: 0;
}

.feature li span{
  display: inline-block;
  width: 108px; height: 108px;
  border: 1px solid var(--sky-blue);
  border-radius: 50%;
  box-sizing: border-box; /*선 너비까지 포함해서*/
  line-height: 106px;    /*108-2 해서 안쪽공간이 106px*/
  font-size: 32px;
  color: var(--sky-blue);
  margin-bottom: var(--line-base);
}

.feature li h3{
  margin-bottom: var(--line-base);
}