
/* 질문1. cf와 float none????? */
header .logo {
  float:none;
}
.logo a {
  margin:0 auto;
}
/* --------------------------------------------------- */
/* 질문2. 이거 만드는 대략적인 순서 다시 한번만. */
.form form{
  width: 350px;
  margin:0 auto;
}
.field{
  background: var(--white);
  border-radius: 4px;
  position: relative;
}
.field i{
  position: absolute;
  left: 20px;
  top: calc(50% - 8px);
  color:var(--medium-gray);
}
.field + .field{
  margin-top: 10px;
}
.field input{
  background: none;
  border:none;
  display: block;
  width: 100%;
  line-height: calc(var(--line-base) * 2);
  padding-left:46px;
  box-sizing: border-box;
  outline: none;
}
.field input::placeholder{
  color: var(--medium-gray);
  font-style:italic;
}
.field input:focus{
  box-shadow:inset 0 0 5px #f00;
}

.button{
  margin-top: 10px;
  width: 100%;
  line-height: calc(var(--line-base) * 2);
  background: none;
  border: 1px solid var(--white);
  border-radius: 4px;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
}