.charts{
  display: flex;
  justify-content: center;
  margin:3rem auto;
  gap:30px;
}
.charts .chart{
  position: relative;
}
.charts .chart h2{
  margin: 0;
  font-size: 2em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%);
}
.charts .chart circle{
  fill:#ebebeb;
  stroke-width:20;
  stroke:green;
}
.charts .chart svg{
  width: 220px;
  height: 220px;
  stroke-dasharray: 628px;
  stroke-dashoffset: 628px;
}
.charts .chart:nth-child(1) circle{
  stroke:#ffc114;
}
.charts .chart:nth-child(2) circle{
  stroke:#ff5248;
}
.charts .chart:nth-child(3) circle{
  stroke:#19cdca;
}
.charts .chart:nth-child(4) circle{
  stroke:#4e80e1;
}




