@charset "utf-8";
@import url('normalize.css'); @import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&family=PT+Sans&display=swap');

/* typography */
body{
    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px; 를 아래처럼 줄여쓰기 가능*/
    font: 16px/24px Arial, Helvetica, sans-serif;
    color: #626262;
    background: url('../images/body.jpg');
}
h1,h2,h3,h4,h5,h6{
    font-family: "Gentium Plus", serif;
}

.sec-tt{text-align: center; font-size: 24px;}
.sec-tt:after{content: ' - ';}
.sec-tt:before{content: ' - ';}


/* ----------------------------------layout------------------------ */
.container{
    width: 1000px;
    margin: 0 auto;
}
.m-2{margin-top: 48px; margin-bottom: 48px;}
.p-2{padding-top: 48px; padding-bottom: 48px;}    
.mb-1{margin-bottom: 24px;}
.mb-2{margin-bottom: 48px;}

.blind{
    position: absolute;
    clip:rect(0,0,0,0);
    clip-path: inset(0 0 100% 100%);
    width: 1px; height: 1px;
    overflow: hidden;
}
hr{
    width: 400px;
    margin-left: auto; margin-bottom: auto; /*다시 초기화*/
    
    /* 단선만들기 방법1 */
    border:none;
    border-top: 1px solid #d1d6d4;
}

/* 포커스 걸렸을떄 초기화 */
input:focus, button:focus{
    outline: none;
}
.cf:after{content: ''; display: block; clear: both;}

.btn{
    width: 48px; height: 48px;
    text-align: center; line-height: 48px;
    display: inline-block;
    color: black;
}

.primary{
    background: #f93f1c;
}

/* ----------------------------------------header-------------------- */
header{
    text-align: center;
}
header h1{
    /* 크기확인 포토샵에서 어떻게? */
    width: 72px; height: 72px;
    
    /* margin: 0 auto; 를 안 쓰고 아래처럼 한 이유는
    0을 넣으면 상하가 0이 돼서 mb-2가 의미가 없어진다. 그래서 mb-2를 살리기 위해!*/
    margin-left: auto; margin-right: auto;
}
header h2{
    width: 507px;
    margin: 0 auto;
    font-size: 36px;
    line-height: 48px;
    color: #2f2f2f;
}
header p strong{
    color: #f93f1c;
}
header p{
    width: 598px;
    margin: 0 auto;
    line-height: 34px;
    font-size: 24px;
    color: #626262;
    font-family: "Gentium Plus", serif;
}

/* form  배경색 배경*/
.form {
    width: 100%; 
    margin: 0 auto;
    
    background: #2f2f2f url('../images/Decoration.svg') no-repeat center center;
    /* background-color: #2f2f2f;
    background-image: url('../images/Decoration.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */

}
.form form{
    width: 307px;
    margin: 0 auto;
}

.form form input{
    width: 100%; 
    display: block;
    border: none;
    line-height: 42px;
    text-align: center;
    box-sizing: border-box;
    /* box-shadow: x y blur color(srgb red green blue); 기본문법 */

    
}

/* 미리보기 글씨 하얀색으로 */
.form form input::-webkit-placeholder{
    color: #c3c3c3;
}
.form form input::placeholder{
    color: #c3c3c3;
}
/* div 끼리 거리띄우기 */
.form form div + div {
    margin-top: 6px;
}

.form form input:focus{
    box-shadow: inset 0px 0px 5px #f93f1c;
}

.form form p {
    color: #c3c3c3;
    font-size: 14px;
    font-style: italic;
    letter-spacing: -0.5px;
    text-align: center;
    line-height: 24px;
    margin: 24px 0;
}
.form form button{
    width: 100%;
    border: none;
    font-size: 14px;
    background-color: #f93f1c;
    color: #c3c3c3;
    line-height: 48px;
    text-transform: uppercase;
}



/* progress */
.progress-box{
    background: rgba(181, 184, 163, 0.3);
    padding: 15px;
}

.progress-bar{
    background: rgba(127, 158, 63, 0.7);
    width: 45%;
    float: left;
    height: 114px;
    /* margin-right: 30px; 왼쪽으로 가려는 성질떄문에 아래 content가 밀림*/
    /* margin =>? 
    시작하는 방향이 기준이고 공간을 만든다고 생각하자. 
    기준점에 근처에 기준대가 없으면 이동하지 않는다. */
    position: relative;
    text-indent: -999em;
}

.progress-box .content{
    float: left;
    width: 282px;
    height: 114px;
    margin-left: 30px; /*위에 margin-right 대신 이걸 써도 된다.*/
}

.progress-bar:after{
    content: '';  /*빈공간 만들기*/
    width: 0; height: 0; /*보더두께때문에 굳이필요없다.*/
    border-style: solid;
    border-width: 11px;
    border-color: transparent transparent transparent rgba(127, 158, 63, 0.7);
    position: absolute;
    left: 100%; top: 12px;
}

.progress-box .content h3{
    font-weight: bold;
}

/* freebie */
.freebie h2{
    color: #fff;
}
.freebie{
    background: #2f2f2f;
    text-align: center;
    color: #c3c3c3;
}

.freebie p {
    width: 321px;
    margin-left: auto; margin-right: auto;
}
.freebie p strong{color: #f93f1c;}

/* progress */

/* footer */
footer{
    text-align: center;
}

footer p:first-child{
    width: 433px;
    margin-left: auto; margin-right: auto;
    font-family: "Gentium Plus", serif;
    font-size: 24px;
    line-height: 34px;
}

footer p:first-child a{
    color: #f93f1c;
}

footer .sns{
    word-spacing: 7px;
    margin-bottom: 96px;

}

.back-to-top{
    background: rgba(127, 158, 63, 0.7);
    position: fixed;
    left: 50%;
    bottom: 169px;
    margin-left: 453px;

    /* or 
    margin =>? 
    시작하는 방향이 기준이고 공간을 만든다고 생각하자.
    기준점에 근처에 기준대가 없으면 이동하지 않는다. 
    right : 50%;
    margin-right: -(453+48)px;
    */

}





/* 번회 */
.box{
    width: 50px;
    height: 50px;
    border-width: 10px;
    border-style: solid;
    border-color: #00f #f00;
    box-sizing: border-box;
    margin: 10px;
}

.box2 {
    border-width: 25px;
}

.box3{
    border-width: 25px;
    border-color: transparent transparent #f00 transparent;
}

