/* MODAL */
.main_modal{
  position: fixed;
  left: 5%;top: 10%;
  background:rgba(0,0,0,.5);
  display: flex;
  z-index: 999999;
  justify-content: start;
  align-items: center;
  border-radius: 0 6px 0 0; 
  border: 3px solid var(--primary);
  overflow: hidden;
}

.main_modal_container{
  width: 500px;
  background: var(--white);
  border-radius: 0 5px 0 0;
  padding: 10px;
}

.main_modal img{
  width: 200px;
  height: 80px;
  color: #fff;
  object-fit: cover
}

.main_modal_container {
  padding: 20px 20px 0 20px;
}

.main_modal h2{
  font-size: var(--sub_tt);
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.modal_header{
  font-size: 20px;
  line-height: 29px;
}

.modal_header:after{
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  right: 0;
  background: var(--primary);

}

.main_modal div:first-child{
  border: none;
}

.main_modal_container > div{
  padding: 20px 20px;
  border-top: 2px solid var(--primary);
}

.main_modal em{
  font-weight: 700;
}

.main_modal strong{
  color: var(--primary);
  font-weight: 700;
  font-size: 18px;
}

.main_modal strong a{
  color: var(--primary);
  font-weight: 700;
  font-size: 18px;
}

.modal_info .info_link img{
  width: 18px;
  height: 18px;
  object-fit: cover;
  margin-bottom: 1px;
}

.modal_info .info_link .github{
  width: 19px;
  filter: invert(1);
}

.modal_info .info_link{
  display: flex;
  align-items: center;
  gap: 4px;
}

.main_modal a{
  text-decoration: underline;
}

.modal_control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_control label{
  display: flex;
  align-items: center;
  gap: 10px;
}

#modal_check{
  display: none;
}

.modal_control form label:before { 
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid var(--primary);
  background: white;

}
/* on */
#modal_check:checked ~ label:before {
  background: #001E33;
}

@media (max-width:834px){
  .main_modal_container{
    width: 350px;
  }
}

/* BEST KIA */

.best_kia{
  margin: 220px auto 220px;
}
.be_title{
  text-align: center;
}
.be_title h2{
  font-size: var(--sub_tt);
  line-height: var(--sub_tt);
  font-weight: 700;
  color: var(--primary);
}
.be_title p{
  font-size: var(--section_tt);
  line-height: var(--gutter);
  font-weight: 400;
  color: var(--medium_gray);
}
.be_tab_wrapper{
  display: flex;
  gap:24px;
  position: relative;
  justify-content: center;
}
.be_tab_wrapper .tabs_menu{
  display: block;
  text-align: center;
  background-color: var(--light_gray);
  font-size: 20px;
  line-height: 48px;
}
.tabs_menu li{
  width: 100%;
  transition: 0.3s;
}
.be_tab_wrapper .tabs_menu li a{
  width: 204px;
  display: block;
  transition: 0.3s;
  font-weight: 400;
}
.be_tab_wrapper .tabs_menu li.active a{
  line-height: 408px;
  background-color: var(--primary);
  color: var(--white);
  font-weight: 700;
}
.tabs{
  position: relative;
}
.tabs .be_tabs{
  display: none;
}
.tabs .be_tabs.active{
  display: block;
}
.be_tab_wrapper .tabs .slides{
  width: 776px;
  height: 552px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
.be_tab_wrapper .tabs .slides img{
  height: 552px;
  object-fit: cover;
  transition: 0.3s;
}
.toplanks .pager{
  margin-bottom: 30px;
  display: flex;
  gap: 30px;
}
.toplanks .pager .pager_btn{
  line-height: var(--gutter);
  border: none;
  background: none;
  padding:0;
  cursor: pointer;
}
.toplanks .pager .pager_btn.visible{
  font-weight: bold;
  color: var(--primary);
}
.toplanks .detail_ex{
  display: flex;
  gap:24px;
  line-height: var(--section_tt);
  margin: 10px 0 14px;
}
.toplanks ul li{
  color: var(--primary);
}
.toplanks ul li span{
  color: var(--medium_gray);
}
.be_btn{
  margin-top: 20px;
  display: flex;
  gap: 8px;
  position: absolute;
  right: 0;
}
.be_btn .btn{
  width: 154px;
  padding:0;
}
.slick-dots{
  position: absolute;
  display: flex;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  bottom: 28px;
  gap: 24px;
}
.slick-dots button{
  background: var(--medium_gray);
  border: none;
  width: 84px;
  height: 5px;
  font-size: 0;
  cursor: pointer;
  opacity: 0.4;
  transition: 0.3s;
}
.slick-dots button:hover,
.slick-dots li.slick-active button{
  opacity: 1;
}
.tabs .be_tabs .toplank_depth li{
  display: none;
}
.tabs .be_tabs .toplank_depth li.active{
  display: block;
}
.tabs .be_tabs li img{
  width: 316px;
  height: 140px;
  object-fit: cover;
  margin: 48px 0 46px;
}
.tabs .be_tabs li h3,
.tabs .be_tabs li div a{
  font-size: 36px;
  line-height: 48px;
  font-weight: bold;
  color: var(--primary);
  text-align: right;
}
.tab_depth{
  display: flex;
  gap: 24px;
}
.caution{
  position: absolute;
  color: var(--medium_gray);
  font-size: var(--body_sub_tt);
  line-height: var(--body_tt);
  top: calc(100% + 55px);
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  cursor: default;
}
.tabs_menu li.active .caution{
  display: block;
}
.detail_ex button{
  border: none;
  padding:0;
  background: none;
  color:var(--medium_gray);
  font-size: var(--body_sub_tt);
}
.safe_modal_container{
  z-index: 2000;
  position: fixed;
  left: 0;right: 0;top: 0;bottom: 0;
  background:rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.safe_modal{
  width: 600px;
  padding:40px;
  box-sizing: border-box;
  background: #fff;
}
.safe_modal h3{
  color: var(--primary);
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 36px;
}
.safe_modal p{
  color: var(--dark_gray);
  margin-bottom: 24px;
}
.safe_modal p:last-child{
  margin-bottom: 0;
}
@media (max-width:1344px){

  .be_tab_wrapper .tabs_menu li a{
    width: 102px;
    font-size: 16px;
  }
  .be_tab_wrapper .tabs .slides{
    width: 700px;
  }
}
@media (max-width:1200px) {
  .be_tab_wrapper .tabs .slides{
    width: 333px;
  }
  .slick-dots{
    gap:12px;
  }
  .slick-dots button{
    width: 42px;
  }
}
@media (max-width:834px){
  .be_tab_wrapper .tabs_menu li a{
    width: 88px;
    
  }
  .be_tab_wrapper .tabs .slides{
    width: 339px;
    height: 480px;
  }
  .be_tab_wrapper .tabs .slides img {
    height: 480px;
  }
  .toplank_depth{
    width: 213px;
  }
  .tabs #be_tabs1 li img{
    margin: 37px 0 48px;
  }
  .tabs .be_tabs li img{
    width: 213px;
    height: 94px;
    margin: 85px 0 48px;
  }
  .tabs .be_tabs li img+h3{
    font-size: 24px;
    line-height: 29px;
  }
  .toplanks .detail_ex{
    gap:11px;
  }
  .be_btn{
    gap:15px;
    margin-top: 17px;
  }
  .be_btn .btn{
    width: 281px;
    height: 48px;
  }
  .toplank_depth li span{
    font-size: var(--body_sub_tt);
    line-height: var(--body_sub_tt);
    margin-bottom: 25px;
  }
  .toplanks .pager {
    margin-bottom: 50px;
    gap: 20px;
  }
}
@media (max-width:625px){
  .best_kia{
    margin-bottom: 360px;
  }
  .be_tab_wrapper{
    flex-direction: column;
  }
  .tabs .be_tabs .toplank_depth li.active {
    display: flex;
  }
  .be_tab_wrapper .be_tabs_menu{
    display: flex;
    width: 100%;
    justify-content: start;
  }
  .be_tab_wrapper .be_tabs_menu li{
    flex-grow: 1;
  }
  .be_tab_wrapper .be_tabs_menu li.active a{
    width: 100%;
    line-height: 48px;
  }
  .be_tab_wrapper .be_tabs_menu li a{
    width: 100%;
  }
  .toplanks .toplank_depth li{
    display: flex;
    flex-direction: column;
  }
  .be_btn{
    position: absolute;
    width: 100%;
    top:97%;
  }
  .caution{
    top: calc(100% + 140px);
  }
}
@media (max-width:500px){
  
  .be_tab_wrapper .tabs .slides{
    width: 100vw;
    height: 475px;
  }
  .be_tab_wrapper .tabs .slides img{
    width: 100vw !important;
    height: 475px;
    position: relative;
  }
  .be_tab_wrapper .be_tabs_menu li.active{
    width: 200%;
  }
  .be_tab_wrapper{
    flex-direction: column;
  }
  .tabs .be_tabs .toplank_depth li.active {
    display: flex;
    flex-direction: column-reverse;
  }
  .tab_depth{
    display: flex;
    flex-direction: column-reverse;
  }
  .toplanks .pager{
    margin-left: 20px;
    margin-bottom: 15px;
  }
  .toplank_depth {
    width: 100%;
  }
  .toplank_depth li{
    display: flex;
    width: 100%;
  }
  .tabs .be_tabs li h3{
    margin-right: 20px;
  }
  .tabs .be_tabs li img+h3 {
    font-size: 36px;
    line-height: 48px;
  }
  .toplank_depth li span {
    text-align: end;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: var(--body_tt);
    line-height: var(--body_tt);
}
  .toplank_depth img,
  .toplank_depth .detail_ex,
  .toplank_depth .be_btn{
    display: none;
}
  .caution{
    top:110%;
    width: 70%;
  }
}

/* MEMBERS */
.kia_members, .kia_event, .kia_notice{
  margin: 0 auto 220px;
}

.me_title, .ev_title{
  text-align: center;
}

.me_title h2, .ev_title h2{
  font-size: var(--sub_tt);
  line-height: var(--gutter);
  font-weight: 700;
  color: var(--primary);
}

.me_title p, .ev_title p{
  font-size: var(--section_tt);
  line-height: var(--gutter);
  font-weight: 400;
  color: var(--medium_gray);
}

.me_tab_wrapper .tabs a{
  border: 1px solid #000;
}


.me_tab_wrapper div h3{
  font-size: var(--section_tt);
  font-weight: 700;
}

.me_tab_members , .me_tab_ev_members{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.me_tab_members{
  margin: 174px 71px 93px 822px;
}

.me_tab_ev_members{
  margin: 174px 788px 93px 106px;
}

.me_icons, .me_ev_icons{
  display: flex;
  align-items: start;
  gap: 30px;
  margin: 105px 0 72px 0;
  text-align: center;
}

 .me_tab_members:after{
  background: url(../img/me/me_kia_members.png);
  right: calc(100% + 200px);
}

 .me_tab_ev_members:after{
  background-image: url(../img/me/me_kia_ev_members.png);
  margin-left: 100px;
  left: calc(100% + 200px);
}

.me_tab_members.active:after{
  animation: leftIn .3s forwards ease-out;
}

.me_tab_ev_members.active:after{
  animation: rightIn .3s forwards ease-out;
}

.me_tab_members:after, .me_tab_ev_members:after{
  content: '';
  background-repeat: no-repeat;
  background-position: center center;
  width: 768px;
  height: 340px;
  position: absolute;
}

.me_icons li:after{
  background-image: url(../img/me/me_kia_members_icon.png);
}

.me_ev_icons li:after{
  background-image: url(../img/me/me_ev_members_icon.png);
}

.me_icons li:after, .me_ev_icons li:after{
  content: '';
  background-repeat: no-repeat;
  position: absolute;
  top:0;
  left: 50%;
  height: 64px;
  transform: translate(-50%, -100%);
}

.me_icons li{
  position: relative;
}

.me_icons li:nth-child(1):after{
  width: 77px;
  background-position: left center;
}

.me_icons li:nth-child(2):after{
  width: 64px;
  background-position: -83px center;
}

.me_icons li:nth-child(3):after{
  width: 60px;
  background-position: -156px center;
}

.me_icons li:nth-child(4):after{
  width: 57px;
  background-position: -223px center;
}

.me_icons li:nth-child(5):after{
  width: 74px;
  background-position: -288px center;
}

.me_ev_icons li{
  position: relative;
}

.me_ev_icons li:nth-child(1):after{
  width: 74px;
  background-position: left center;
}

.me_ev_icons li:nth-child(2):after{
  width: 58px;
  background-position: -83px center;
}

.me_ev_icons li:nth-child(3):after{
  width: 56px;
  background-position: -152px center;
}

.me_ev_icons li:nth-child(4):after{
  width: 57px;
  background-position: -219px center;
}

.me_ev_icons li:nth-child(5):after{
  width: 74px;
  background-position: -283px center;
}

@keyframes leftIn {
  from{
    right: calc(100% + 200px);
  }
  to{
    right: 100%;
  }
}

@keyframes rightIn {
  from{
    left: calc(100% + 200px);
  }
  to{
    left: 100%;
  }
}

@media (max-width:1344px){

  .me_tab_members{
    margin: 174px 0px 93px 822px;
  }
  
  .me_tab_ev_members{
    margin: 174px 788px 93px 0px;
  }
}

@media (max-width:1200px) {
  .me_tab_members:after{
    right: 0;
    bottom: 100%;
    background-size: 80%;
    background-position: center center;
    width: 100%;
    height: 100%;
  }

  .me_tab_ev_members:after{
    left: 0;
    bottom: 100%;
    background-size: 60%;
    background-position: center center;
    width: 100%;
    height: 100%;
    margin-left: 0;
  }

  .me_tab_members.active:after{
    animation: none;
  }
  
  .me_tab_ev_members.active:after{
    animation: none;
  }

  .me_tab_members{
    margin: 450px 0 93px 0;
  }

  .me_tab_ev_members{
    margin: 450px 0 93px 0;
  }
}

@media (max-width:1000px){
  .me_tab_members:after{
    bottom: 100%;
  }

  .me_tab_ev_members:after{
    bottom: 100%;
    margin-left: 0;
  }
}

@media (max-width:834px) {
  .me_tab_members:after{
    background-size: 100%;
    background-position: center center;
    width: 100%;
    height: 300px;
  }

  .me_tab_ev_members:after{
    background-size: 80%;
    background-position: center center;
    width: 100%;
    height: 300px;
  }

  .me_tab_members{
    margin: 350px 0 93px 0;
  }

  .me_tab_ev_members{
    margin: 350px 0 93px 0;
  }

  .me_icons li, .me_ev_icons li{
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width:480px){
  .me_tab_members:after{
    background-size: 100%;
    background-position: center center;
    width: 100%;
    height: 208px;
    left: 5%;
  }

  .me_tab_ev_members:after{
    background-size: 100%;
    background-position: center center;
    left: 0;
    width: 100%;
    height: 208px;
  }

  .me_tab_members{
    margin: 250px 0 93px 0;
  }
  
  .me_tab_ev_members{
    margin: 250px 0 93px 0;
  }
}

/* EVENT */
.kia_event{
  position: relative;
}

.ev_slide_wrapper{
  position: relative;
  width: 1264px;
  overflow: hidden;
  margin: 0 auto;
}

.ev_slide_container{
  position: relative;
  width: 100%;
  display: flex;
  gap: 32px;
  padding: 10px 0;
}

.ev_slide_container.animate{
  left: 0;
  transition: .5s;
}

.ev_slide_container figure{
  width: 400px;
  height: 385px;
  box-shadow: 0 0 3px rgba( 0 ,0 ,0, .1);
  position: relative;
}

.ev_slide_container figure > a{
  display: block;
  width: 100%;
  position: relative;
}

.ev_slide_container a:after{
  content: '자세히 보기';
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 8px;
}

.ev_slide_container figure:hover > a:after{
  color:var(--white);
  background: rgba(0, 20, 31, 0.5);
}

.ev_slide_container figure img{
  width: 100%;
  height: 252px;
}
.ev_slide_container figcaption{
  height: 113px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ev_slide_container figure:hover h3{
  text-decoration: underline;
}

.ev_slide_container figcaption h3{
  font-size: var(--section_tt);
  line-height: 29px;
  font-weight: 400;
}

.ev_slide_container figcaption p{
  color: var(--medium_gray);
}

.ev_slide_prev, .ev_slide_next{ 
  position: absolute;
  font-size: 48px;
  top: 60%;
  color: var(--medium_gray);
  cursor: pointer;
}
.kia_event > div{
  position: relative;
}
.ev_slide_prev {
  left: 0;
}

.ev_slide_next {
  right: 0;
}

@media (max-width:1200px) {
  .ev_slide_wrapper{
    width: 800px;
  }
  .kia_event > div{
    margin: 0 30px;
  }
  
}
@media (max-width:980px){
  .kia_event > div{
    margin: 0;
  }
}
@media (max-width:834px) {
  .ev_slide_wrapper{
    width: 400px;
  }
  .kia_event > div{
    margin: 0 50px;
  }
}
@media (max-width:700px){
  .kia_event > div{
    margin: 0;
  }
}
@media (max-width:400px) {
  .ev_slide_wrapper{
    width: 300px;
  }
  .ev_slide_container figure img{
    width: 100%;
    height: 252px;
    object-fit: cover;
  }
  .ev_slide_container figure{
    width: 300px;
  }
}
/* Section 최은화 */
.no_title{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.no_title p{
  font-size: var(--section_tt);
  line-height: var(--gutter);
  font-weight: 400;
  color: var(--medium_gray);
}

.tabs .notice,
.tabs .news{
  margin: 72px 63px 62px 63px;
  height: 580px;
  gap: 125px;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #fff;
}


.tabs .no_notice{
  display: flex;
  gap: 330px;
  text-wrap: nowrap;
  text-align: center;
  margin-bottom: 32px;
}

.tabs .no_notice h3,
.tabs .no_news h3{
  font-size: 36px;
  font-weight: 700;
}

.tabs .no_notice button,
.tabs .no_news button{
  height: 32px;
  border: 1px solid var(--primary);
  background: var(--white);
}

.tabs .no_notice button:hover,
.tabs .no_news button:hover{
  height: 32px;
  color: var(--white);
  background: var(--primary);
}

.tabs .no_img{
  height: 450px;
  box-shadow: 0 0 10px 1px #bdbdbd;
}

.tabs .no_ntc{
  width: 500px;
  transform: translateX(5px);
}

.tabs .no_ntc li{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.tabs .no_ntc li em{
  color: #868686;
}

.tabs .no_ntc li:after{
  content: '';
  background: var(--primary);
  width: 500px;
  height: 1px;
  position: absolute;
  transform: translateY(32px);
}

.tabs .no_ntc li p:hover{
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}

.tabs .no_news{
  display: flex;
  gap: 392px;
  text-wrap: nowrap;
  text-align: center;
  margin-bottom: 32px;
}

/* Section 최은화 */
.no_title{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.no_title p{
  font-size: var(--section_tt);
  line-height: var(--gutter);
  font-weight: 400;
  color: var(--medium_gray);
}

.tabs .notice,
.tabs .news{
  margin: 72px 63px 62px 63px;
  height: 580px;
  gap: 125px;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #fff;
  transition: 0.3s;
}

.tabs .notice figure div,
.tabs .news figure div{
  position: absolute;
  left: 24%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .5);
  display: none;
  transition: 0.5s;
}

.tabs .notice figure div p,
.tabs .news figure div p{
  font-size: var(--section_tt);
  font-weight: 700;
  color: var(--white);
  transition: 0.3s;
  margin-top: 32%;
  margin-bottom: 10px;
}

.tabs .notice figure:hover div,
.tabs .news figure:hover div{
  width: 550px;
  height: 450px;
  text-align: center;
  display: block;
}


.tabs .no_notice{
  display: flex;
  gap: 330px;
  text-wrap: nowrap;
  text-align: center;
  margin-bottom: 32px;
  transition: 0.3s;
}

.tabs .no_notice h3,
.tabs .no_news h3{
  font-size: 36px;
  font-weight: 700;
}

.btn_no{
  background: var(--white);
  color: var(--black);
  line-height: 38px;
  padding: 0 45px;
  font-size: 12px;
  font-weight: 600;
  transition: 0.3s;
  border-width: 1px;
  border-color: var(--primary);
  display: inline-block;
}

.btn_no:hover{
  background: var(--primary);
  color: var(--white);
}

.tabs .no_notice .no_img div a,
.tabs .no_news a{
  height: 32px;
  border: 1px solid var(--primary);
  background: var(--white);
  padding: 10px 45px;
  display: inline-block;
}

.tabs .no_notice a:hover,
.tabs .no_news a:hover{
  height: 32px;
  color: var(--white);
  background: var(--primary);
}

.tabs .no_img{
  height: 450px;
  box-shadow: 0 0 10px 1px #bdbdbd;
}

.tabs .no_ntc{
  width: 500px;
  transform: translateX(5px);
  transition: 0.3s;
}

.tabs .no_ntc li{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.tabs .no_ntc li:after{
  content: '';
  background: var(--primary);
  width: 500px;
  height: 1px;
  position: absolute;
  transform: translateY(32px);
  transition: 0.3s;
}

.tabs .no_ntc li p:hover{
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}

.tabs .no_news{
  display: flex;
  gap: 392px;
  text-wrap: nowrap;
  text-align: center;
  margin-bottom: 32px;
}

@media (max-width:1200px){

  .tabs .notice,
  .tabs .news{
    gap: 70px;
  }

  .tabs .no_notice{
    gap: 220px;
  }
  
  .tabs .notice figure:hover div,
  .tabs .news figure:hover div{
    display: none;
  }
  
  .tabs .no_img{
    width: 70%;
    box-shadow: none;
  }

  .tabs .no_ntc{
    width: 400px;
    transform: translateX(5px);
  }
  
  .tabs .no_ntc li{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
  
  .tabs .no_ntc li:after{
    content: '';
    background: var(--primary);
    width: 400px;
    height: 1px;
    position: absolute;
    transform: translateY(32px);
  }

}

@media (max-width: 1000px){
  
  .kia_notice{
    margin: 0 auto 220px;
  }

  .tabs{
    object-fit: cover;
    justify-content: center;
  }
  
  .tabs .notice,
  .tabs .news{
    margin: auto;
    height: 20%;
    gap: 200px;
    flex-direction: column;
  }

  .tabs .notice{
    background: url(../img/fo/fo_notice_2x.png) no-repeat;
    background-size: 100%;
    object-fit: cover;
  }
  
  .tabs .news{
    background: url(../img/fo/fo_news_2x.png) no-repeat;
    background-size: 100%;
    object-fit: cover;
  }

  .tabs .notice img{
    display: none;
  }

  .tabs .news img{
    display: none;
  }

  .tabs .no_notice{
    gap: 330px;
  }

  .tabs .no_ntc{
    width: 500px;
  }

  .tabs .no_img{
    box-shadow: none;
  }

  .tabs .no_ntc li:after{
    width: 500px;
  }

}

@media (max-width: 834px){
  
  .tabs .notice,
  .tabs .news{
    margin: auto;
    height: 30%;
    gap: 100px;
  }
  
}

@media (max-width: 660px){
  
  .tabs .notice,
  .tabs .news{
    margin: auto;
    height: 30%;
    gap: 70px;
  }
  
}

@media (max-width: 500px){
  
  .sub_title_gutter.sec_desc{
    font-size: 18px;
    font-weight: 300;
  }

  .tabs .notice,
  .tabs .news{
    margin: auto;
    height: 30%;
    gap: 10px;
  }
  
  .tabs .no_notice{
    gap: 200px;
  }

  .tabs .no_ntc{
    width: 370px;
  }
  
  .tabs .no_ntc li:after{
    width: 370px;
  }

}
