


.container {
    margin: 0 auto;
}

.containering {
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #ccc;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    justify-content: center;
}

.containering.sticky {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* sticky 상태에서의 그림자 */
}


.containering .box a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.containering .box a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2.2px;
    width: 0;
    height: 1.2px;
    background-color: var(--primary);
    transition: width 0.3s ease;
    /* 애니메이션 속도 조정 */
}

.containering .box a:hover::after {
    width: 100%;
}

.containering .box a:hover {
    font-weight: 700;
}

.box:first-child, .box:nth-child(2){
    padding: 20px 55px;
}

.memberBox {
    margin: 48px auto;
    width: 350px;
    height: 300px;
    background-color: var(--light_gray);
    padding: 25px;
    border-radius: 8px;
    text-align: center;
}

.memberBox h2 {
    margin-top: 15%;
    font-size: 30px;
    color: var(--primary);
    font-weight: 600;
}

.memberBox p {
    margin-top: 10%;
    font-size: var(--body_tt);
    color: var(--dark_gray);
    font-weight: 600;
}

.memberBox .btn {
    margin-top: 10%;
    cursor: pointer;
}

.memberBox .btn:hover a {
    color: #fff;
    cursor: pointer;
}

@keyframes shake {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

.imageNavigation:hover img,
.imageNavigation:hover p {
    animation: shake 0.5s ease-in-out infinite;
}

/* 기존 스타일 유지 */
.memberBox2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.imageNavigation {
    text-align: center;
}

.imageNavigation p {
    font-weight: 700;
}

.memberBox2 div img {
    width: 350px;
    height: 300px;
    border-radius: 25%;
    cursor: pointer;
}


.memberBox2 div p {
    cursor: pointer;
    font-weight: 600;
}




/* 아코디언 */
.membersPoint,
.membersPoint3 {
    display: flex;
    width: 1344px;
    margin: 0 auto;
    margin-top: 48px;
}

.membersPoint img,
.membersPoint3 img {
    width: 50%;
    padding-right: 25px;
    /* height: auto; */
}

.accordion {
    width: 50%;
    padding-left: 25px;
}

.accordion-item {
    border-bottom: 1px solid #ddd;
}

.accordion-button {
    background-color: var(--light_gray);
    border: none;
    cursor: pointer;
    text-align: left;
    width: 100%;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 650;
    color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-button .icon {
    font-size: 20px;
    margin-left: 10px;
}

/* 아코디언이 열렸을 때 아이콘 변경 */
.accordion-content.open+.accordion-button .icon {
    content: "-";
}

.accordion-content {
    display: none;
    background-color: #f9f9f9;
}

.accordion-content p {
    padding: 10px 10px;
}

.accordion-content a {
    color: var(--primary);
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 500;
}

.accordion-content a {
    color: var(--primary);
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 500;
    margin-top: -10px;
    /* 위로 10px 올리기 */
    display: inline-block;
    /* margin-top이 적용되도록 설정 */
}


.accordion-content a:hover {
    color: black;
    font-weight: 700;
}

.accordion-content.open {
    display: block;
}


.membersPoint2 {
    display: flex;
    max-width: 1344px;
    width: 1344px;
    margin: 0 auto;
    margin-top: 48px;
    flex-direction: row-reverse;
}

.membersPoint2 img {
    width: 50%;
    height: auto;
    padding-left: 25px;
}

.membersPoint2 .accordion {
    width: 50%;
    padding: 0px;
    padding-right: 25px;
}

.membersPoint2 .accordion-item {
    border-bottom: 1px solid #ddd;
}

.divider {
    margin-top: 48px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #ccc;
    overflow-y: auto;
}

#backToTop {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    z-index: 1000;
    /* 다른 요소 위에 배치 */
}

#backToTop:hover {
    background-color: var(--primary);
}


img {
    display: block;
    height: auto;
}



.gallery {
    padding: 0 2rem;
}

.tab-container {
    width: 1244px;
    margin: 0 auto;
}

.d-none {
    display: none;
}

.hidden {
    display: none;
}

/* TOOLBAR
  –––––––––––––––––––––––––––––––––––––––––––––––––– */


/* IMAGE LIST
  –––––––––––––––––––––––––––––––––––––––––––––––––– */


/* GRID VIEW
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
/*1. 280px로 줄어들면 1fr으로 줄여라. */
.grid-view {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    margin-bottom: 7rem; /* 원하는 공간 크기만큼 설정 */
}
/* LIST VIEW
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* list-view 가 있을떄 그 안의 figure에  */
.list-view {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list-view figure {
    display: flex;
}

/* .list-view figure img {
    width: 10px;
} */

figcaption {
    padding: 10px;
    width: 160px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

/* title과 title2를 같은 줄에 배치 */
.titles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

figcaption p.title {
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
}

figcaption p.title2 {
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

figcaption p.title3,
figcaption p.title4 {
    font-weight: normal;
    font-size: 14px;
    margin-top: 5px;
}

.centered-figure {
    text-align: center;
}

.centered-figure img {
    display: block;
    width: 160px;
    margin: 0 auto;
}

.titles p {
    cursor: pointer;
}

.titles p.active {
    font-weight: 700;
    text-decoration: underline;
}

.divider1{
    margin-top: 76px;
    font-size: 48px;
    text-align: center;
}

.divider2{
    margin-top: 76px;
    text-align: center;
    font-size: 26px;
    margin-bottom: 76px;
    color: var(--dark_gray);
}
/* MQ
  –––––––––––––––––––––––––––––––––––––––––––––––––– */


.tab-text span {
    display: inline-block;
    margin-top: 5px;
}

.tab-menu {
    padding-left: 0;
    position: relative;
    z-index: 1;
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 48px;
    justify-content: center;
}

.tab-menu li a {
    color: #999;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    font-size: 13px;
    text-align: center;
}

.tab-menu li a.tab-active {
    color: #000000;
    background: #e2e2e2;
}

#tab-content div {
    display: none;
}

#tab-content div.tab-active {
    display: block;
}


/* 더보기버튼 */
.load-more-button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: block;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}

.load-more-button:hover {
    background-color: var(--primary);
    transform: translateY(-2px);
}

.load-more-button:active {
    transform: translateY(1px);
}



@media (max-width: 1376px) {
    .memberBox {
        margin: 48px auto;
        width: 300px;
        height: 250px;
        background-color: var(--light_gray);
        padding: 25px;
        border-radius: 8px;
        text-align: center;
    }

    .memberBox2 {
        gap: 35px;
    }

    .memberBox2 div img {
        width: 240px;
        height: 220px;
        border-radius: 25%;
        cursor: pointer;
    }

    .membersPoint,
    .membersPoint2,
    .membersPoint3 {
        display: flex;
        width: 824px;
        margin: 0 auto;
        margin-top: 48px;
    }

    #backToTop {
        width: 25px;
        height: 25px;
    }

    .tab-container {
        width: 864px;
        margin: 0 auto;
    }

    .tab-menu {
        display: flex;
        gap: 10px;
        margin-top: 24px;
        margin-bottom: 24px;
        justify-content: center;
    }

    .tab-nav .tab-menu img {
        width: 35px !important;
        height: 35px !important;
    }

    .grid-view {
        grid-gap: 1rem;
    }
}


@media (max-width: 885px) {
    .memberBox {
        margin: 48px auto;
        width: 250px;
        height: 220px;
        background-color: var(--light_gray);
        padding: 15px;
        border-radius: 8px;
        text-align: center;

        h2 {
            font-size: 24px;
            margin-top: 10%;
        }

        p {
            font-size: 14px;
        }

        .btn {
            color: var(--black);
            line-height: 28px;
            padding: 0 25px;
            font-size: 12px;
            font-weight: 600;
            transition: 0.3s;
            border-width: 1px;
            border-color: var(--primary);
        }
    }

    .memberBox2 {
        gap: 22px;
    }

    .memberBox2 div img {
        width: 170px;
        height: 170px;
        border-radius: 15%;
        cursor: pointer;
    }

    .memberBox2 p {
        font-size: 14px;
        cursor: pointer;
        font-weight: 1100;
    }

    .membersPoint,
    .membersPoint2,
    .membersPoint3 {
        display: flex;
        width: 624px;
        margin: 0 auto;
        margin-top: 48px;

        button {
            font-size: 16px;
        }

        p {
            font-size: 13px;
            letter-spacing: 2px;
            font-weight: 500;
            line-height: 16px;
        }

        a {
            font-size: 16px;
        }
    }

    .accordion {
        width: 50%;
        padding-left: 15px;
    }

    .membersPoint img,
    .membersPoint3 img {
        width: 50%;
        padding-right: 15px;
        /* height: auto; */
    }

    .membersPoint2 img {
        width: 50%;
        height: auto;
        padding-left: 15px;
    }

    .membersPoint2 .accordion {
        width: 50%;
        padding: 0px;
        padding-right: 15px;
    }

    .tab-container {
        width: 664px;
        margin: 0 auto;
    }

    .tab-nav .tab-menu img {
        width: 20px !important;
        height: 20px !important;
    }

}




@media (max-width: 666px) {
    

    .memberBox {
        margin: 48px auto;
        width: 270px;
        height: 220px;
        background-color: var(--light_gray);
        padding: 15px;
        border-radius: 8px;
        text-align: center;

        h2 {
            font-size: 24px;
            margin-top: 10%;
        }

        p {
            font-size: 14px;
        }

        .btn {
            color: var(--black);
            line-height: 28px;
            padding: 0 25px;
            font-size: 12px;
            font-weight: 600;
            transition: 0.3s;
            border-width: 1px;
            border-color: var(--primary);
        }
    }

    .memberBox2 {
        display: none;
    }

    /* -------------이하부터 수정할 것.------------------ */


    .membersPoint,
    .membersPoint2,
    .membersPoint3 {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-top: 48px;
    }

    .membersPoint img,
    .membersPoint2 img,
    .membersPoint3 img {
        width: 100%;
        padding: 0;
        margin-bottom: 15px;
    }

    .accordion {
        margin: 0 auto;
        width: 100%;
        padding: 0;
    }

    .membersPoint2 .accordion {
        width: 100%;
        padding: 0px;
        margin-top: 5px;

    }

    .membersPoint,
    .membersPoint2,
    .membersPoint3 {
        p {
            font-size: 14px;
            letter-spacing: 1px;
            font-weight: 500;
            line-height: 15px;
        }
    }

    .tab-container {
        width: 424px;
        margin: 0 auto;
    }
    .tab-menu li:first-child {
        display: none;
    }

   
    .tab-menu {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
    }

    .tab-menu li {
        flex: 1 0 25%; 
        max-width: 20%; 
        box-sizing: border-box; 
        text-align: center; 
        margin: 5px 0; 
    }

    
    .tab-nav .tab-menu img {
        width: 44px !important;
        height: 44px !important;
    }

    .divider1{
        font-size: 28px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .divider2{
        font-size: 18px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .box a{
        font-size: 18px !important;
    }
    .btn:hover{
        color: #fff;
    }
}







footer{
    left: 0;
    right: 0;
    bottom: 0;
    /* margin-top: 220px; */
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
    background: var(--primary);
    font-weight: 100;
    line-height: 16px;
  }
  
  footer,
  footer a{
    color: var(--white);
    text-wrap: nowrap;
  }
  
  footer a:hover{
    font-weight: 300;
  }
  
  footer .fo_prize{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 0 20px 0;
  }
  
  footer .fo_prize li{
    display: flex;
    gap: 10px;
    text-wrap: nowrap;
    align-items: center;
    font-size: 12px;
  }
  
  footer .fo_prize li img{
    width: 88px;
    height: 50px;
  }
  
  footer .fo_smallmenu,
  footer .no_guide{
    display: flex;
    gap: 50px;
    transition: 0.3s;
  }
    
  footer .no_guide .fo_top{
    display: flex;
    gap: 50px;
    transition: 0.3s;
  }
  
  footer .no_guide .fo_bottom{
    display: flex;
    gap: 50px;
    transition: 0.3s;
  }
  
  footer .no_sns{
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
  }
  
  footer .no_sns li i{
    color: var(--white);
    opacity: 50%;
    font-size: 32px;
    cursor: pointer;
  }
  
  footer .no_sns li i:hover{
    opacity: 100%;
  }
  
  footer > p:after{
    content: '';
    background: var(--medium_gray);
    /* width: 1224px; */
    width: 1300px;
    height: 1px;
    position: absolute;
    right: 50%;
    transform: translate(50%, -25px);
    transition: 0.3s;
  }
  
  @media (max-width: 1344px){
  
    footer .fo_prize{
      width: 100%;
      gap: 20px;
      justify-content: center;
    }
  
    footer .fo_prize li{
      flex-direction: column;
    }
  
    footer > p:after{
      width: 800px;
    }
  }
  
  @media (max-width: 834px){
  
    footer .fo_prize{
      width: 100%;
    }
  
    footer .fo_prize p,
    footer .fo_prize h4{
      display: none;
    }
  
    footer .no_guide{
      gap: 35px;
      align-items: center;
      object-fit: cover;
    }
    
    footer .no_guide .fo_top{
      display: flex;
      gap: 35px;
    }
    
    footer .no_guide .fo_bottom{
      display: flex;
      gap: 35px;
    }
  
    footer .no_guide{
      flex-direction: column;
      gap: 30px;
    }
  
    footer .fo_smallmenu a,
    footer .no_guide a{
      font-size: var(--body_tt);
      text-wrap: nowrap;
    }
  
    footer > p:after{
      width: 600px;
    }
  
  }
  
  @media (max-width: 660px){
  
    footer{
      gap: 25px;
    }
  
    footer .fo_prize li img{
     width: 68px;
     height: 40px; 
    }
  
    footer .fo_smallmenu{
      gap: 25px;
    }
  
   
  
    footer .no_guide .fo_top{
      gap: 30px;
    }
    
    footer .no_guide .fo_bottom{
      gap: 30px;
    }
  
    footer > p:after{
      width: 500px;
    }
    
  }
  
  @media (max-width: 550px){
    footer .fo_smallmenu{
      gap: 10px;
    }
  
    footer .fo_prize{
      display: none;
    }
  
    footer .no_guide{
      flex-direction: column;
      gap: 20px;
    }
  
    footer .no_guide .fo_top{
      gap: 30px;
    }
    
    footer .no_guide .fo_bottom{
      gap: 30px;
    }
  
    footer > p:after{
      width: 300px;
    }
  }