/* Keyframes */

@keyframes fadeInUp{
  from{
    opacity: 0;
    transform: translateY(100px);
  }

  to{
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fadeInLeft{
  from{
    opacity: 0;
    transform: translateX(-50px);
  }

  to{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn{
  from{
    opacity: 0.2;
  }

  to{
    opacity: 1;
  }
}


/* Main */

[data-trigger]{
  opacity: 0;
  position: relative;
  top: 50px;
  transition: 0.5s;
  }
  
[data-trigger].active{
  opacity: 1;
  top: 0;
}

.maintitle{
  width: 100%;
  height: 100vh;
}

.maintitle img{
  position: absolute;
  width: 100%;
  height: 95%;
  object-fit: cover;
}

.maintitle .text{
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--white);
  transition: 0.3s;
  text-wrap: nowrap;
}

.maintitle .text h3,
.maintitle .text h2{
  position: relative;
  font-weight: 700;
  line-height: 48px;
  opacity: 0;
  transition: 0.5s;
}

.maintitle .text.active h3,
.maintitle .text.active h2{
  top: 0;
  opacity: 1;
}

.maintitle .text h3{
  font-size: 36px;
  opacity: 0;
  animation: fadeInUp 0.6s ease-in-out forwards;
}

.maintitle .text h2{
  font-size: 60px;
  opacity: 0;
  animation: fadeInUp 0.6s ease-in-out 0.5s forwards;
}


@media (max-width: 800px){

  .maintitle .text h2{
    line-height: 70px;
    text-wrap: wrap;
    margin: 20px auto;
  }
}

@media (max-width: 550px){

  .maintitle .text h3{
    font-size: 24px;
  }

  .maintitle .text h2{
    font-size: 48px;
    line-height: 54px;
    text-wrap: wrap;
  }
}


/* --------------------------------------------------------------- */

.subtitle{
  overflow: hidden;
}

.subtitle .sub{
  text-align: center;
}

.subtitle .sub h3{
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
}

.subtitle .sub p{
  font-size: 20px;
  line-height: var(--gutter);
  margin-top: 7px;
}

.subtitle .sub h3,
.subtitle .sub div {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s ease-in-out;
}

.subtitle .sub h3.active {
    opacity: 1;
    transform: translateY(0);
}

.subtitle .sub div.active {
    opacity: 1;
    transform: translateY(0);
}


.subimg{
  position: relative;
  height: 620px;
  margin-top: 100px;
}

.subimg img,
.subimg svg{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.subimg img{
  opacity: 0;
  transition: 0.3s;
}

.subimg img.active{
  opacity: 1;
}

.subimg svg {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.subimg svg.active {
  opacity: 1;
}

.subimg svg path {
  stroke-dasharray: 5400;
  stroke-dashoffset: 5500;
  transition: stroke-dashoffset 2s ease-in-out;
}

.subimg svg.active path {
  stroke-dashoffset: 0;
}

@media (max-width: 1550px){

  .subimg img,
  .subimg svg{
    transform: translate(-50%, -50%) scale(0.8);
  }

}

@media (max-width: 1050px){

  .subtitle .sub h3{
    font-size: 32px;
  }
  
  .subtitle .sub p{
    font-size: 18px;
    margin-top: 5px;
  }

  .subimg img,
  .subimg svg{
    transform: translate(-50%, -50%) scale(0.7);
  }
  
}

@media (max-width: 1024px){
  .subimg img,
  .subimg svg{
    transform: translate(-50%, -50%) scale(0.55);
  }
}

@media (max-width: 550px){

  .subtitle .sub h3{
    font-size: 28px;
    line-height: 34px;
    margin: 100px 15px auto 15px;
  }

  .subtitle .sub div{
    text-align: center;
    margin: 10px 20px;
  }
  
  .subtitle .sub p{
    font-size: 16px;
    text-wrap: wrap;
    display: inline;
  }

  .subimg{
    position: relative;
    height: 200px;
    margin-top: 70px;
  }

  .subimg img,
  .subimg svg{
    transform: translate(-50%, -50%) scale(0.3);
  }

}


/* --------------------------------------------------------------- */

.icontab{
  margin-top: 300px;
  margin-bottom: 300px;
  overflow: hidden;
}

.icontab ul{
  display: flex;
  justify-content: center;
}

.icontab ul li{
  position: relative;
  width: 400px;
  height: 400px;
  border-right: 1px solid var(--medium_gray);
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}

.icontab ul li:last-child{
  border-right: none;
}

.icontab ul li i{
  color: var(--primary);
  font-size: 100px;
  margin-bottom: 50px;
}

.icontab ul li p{
  font-size: var(--section_tt);
  font-weight: 700;
  opacity: 50%;
}

.icontab ul li h3{
  font-size: 32px;
  font-weight: 900;
}


.icontab ul li {
  opacity: 0;
  /* transition: opacity 0.3s ease-in-out; */
}
/* 
.icontab ul li.active {
  opacity: 1;
} */

.icontab ul li:nth-child(1).active {
  animation: fadeInUp 0.3s ease-in-out forwards;
  /* animation-delay: 0.3s; */
}

.icontab ul li:nth-child(2).active {
  animation: fadeInUp 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
}

.icontab ul li:nth-child(3).active {
  animation: fadeInUp 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
}

@media (max-width: 1050px){

  .icontab{
    margin-top: 100px;
  }

  .icontab ul li{
    gap: 20px;
  }

  .icontab ul li i{
    font-size: 80px;
    margin-bottom: 40px;
  }
  
  .icontab ul li p{
    font-size: 20px;
  }
  
  .icontab ul li h3{
    font-size: 30px;
  }

}

@media (max-width: 550px){
  
  .icontab{
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .icontab ul{
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .icontab ul li{
    height: 250px;
    border: none;
  }

  .icontab ul li i{
    font-size: 60px;
    margin-bottom: 10px;
  }
  
  .icontab ul li p{
    font-size: 18px;
    margin-bottom: -10px;
  }
  
  .icontab ul li h3{
    font-size: 28px;
  }

}



/* --------------------- Section1 ------------------------ */


section{
  overflow: hidden;
}


section .banner {
  height: 213px;
  background: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(255, 255, 255, .1));
}

section .banner p,
section .banner h3 {
  font-size: var(--section_tt);
  color: var(--white);
  line-height: var(--gutter);
  position: relative;
  transform: translateX(0);
  top: calc(50% - 20px);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}

section .banner h3 {
  font-size: 36px;
  font-weight: 700;
  margin-top: 10px;
}

section .banner p.active,
section .banner h3.active {
  opacity: 1;
  transform: translateX(15%);
}

section .expanation {
  position: relative;
  left: 15%;
  top: 100px;  
}

section .expanation h3 {
  font-size: 36px;
  font-weight: 900;
  line-height: 42px;
}

section .expanation p {
  font-size: var(--body_tt);
  color: #6E6E6E;
  margin-top: 10px;
}

section .expanation{
  position: relative;
  left: 15%;
  top: 100px;  
}

section .expanation h3{
  font-size: 36px;
  font-weight:900;
  line-height: 42px;
}

section .expanation p{
  font-size: var(--body_tt);
  color: #6E6E6E;
  margin-top: 10px;
}

section .expanation h3.active,
section .expanation p.active{
  transform: translateY(0);
  opacity: 1;
}

section .expanation h3,
section .expanation p{
  transform: translateY(50px);
  opacity: 0;
  transition:  opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}

section .diagram{
  width: 100%;
  height: 700px;
  position: relative;
}

section .diagram .desktop{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

section .diagram .mobile{
  display: none;
}

section .diagram ul{
  width: 100%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
}

section .diagram ul li img{
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
}

section .diagram ul li span{
  font-size: var(--section_tt);
  font-weight: 700;
  margin-bottom: 10px;
}

section .diagram ul li p{
  font-size: var(--body_tt);
}

section .diagram ul .ellipse,
section .diagram ul .plus1,
section .diagram ul .plus2{
  position: absolute;
  display: flex;
  flex-direction: column;
}

section .diagram .desktop path {
  stroke-dasharray: 2400;
  stroke-dashoffset: 2500;
  transition: stroke-dashoffset 2s ease-in-out;
}

section .diagram.active .desktop path {
  stroke-dashoffset: 0;
}

section .diagram ul .ellipse{
  left: -350px;
  top: 85px;

}

section .diagram ul .plus1{
  transform: translateY(-90px);
}

section .diagram ul .plus2{
  transform: translate(500px, 65px);
}

section .diagram ul li {
  opacity: 0.2;
  transition: opacity 0.3s ease-in-out;
}

 /*section .diagram.active ul li{
  opacity: 1;
  animation: fadeIn 0.3s ease-in-out forwards; 
}*/

section .diagram.active ul li:first-child {
  animation: fadeIn 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
}

section .diagram.active ul li:nth-child(2) {
  animation: fadeIn 0.3s ease-in-out forwards;
  animation-delay: 1s;
}

section .diagram.active ul li:nth-child(3) {
  animation: fadeIn 0.3s ease-in-out forwards;
  animation-delay: 1.5s;
}

@media (max-width: 1550px){

  section .diagram svg{
    transform: translate(-50%,-50%) scale(0.8);
    left: 50%;
  }

  section .diagram.active ul li:first-child{
    transform: translate(50px, -50px);
  }
  
  section .diagram.active ul li:nth-child(2){
    transform: translate(6px, -90px);
  }
  
  section .diagram.active ul li:nth-child(3){
    transform: translate(370px, 30px);
  }

  section .diagram.active ul li img{
    transform: scale(0.8);
    margin-bottom: 12px;
  }

  section .diagram.active ul li span{
    font-size: 22px;
  }

  section .diagram.active ul li p{
    font-size: 14px;
    line-height: 18px;
    margin-top: 0;
  }

}

@media (max-width: 1050px){

  section .banner p,
  section .banner h3{
    transform: translateX(10%);
  }

  section .banner p.active,
  section .banner h3.active{
    transform: translateX(10%);
  }

  section .banner p{
    font-size: 22px;
  }

  section .banner h3{
    font-size: 32px;
  }

  section .expanation{
    left: 10%;
  }

  section .expanation h3{
    font-size: 32px;
    line-height: 38px;
  }

  section .diagram .desktop{
    transform: translate(-50%,-50%) scale(0.52);
    left: 50%;
  }

  section .diagram.active ul li:first-child{
    transform: translate(120px, -50px);
  }
  
  section .diagram.active ul li:nth-child(2){
    transform: translate(30px, -90px);
  }
  
  section .diagram.active ul li:nth-child(3){
    transform: translate(320px, 35px);
  }

  section .diagram.active ul:first-child li:last-child span,
  section .diagram.active ul:first-child li:last-child p{
    transform: translateX(-30px);
  }

  section .diagram.active ul li:last-child span,
  section .diagram.active ul li:last-child p{
    transform: translateX(-60px);
  }

  section .diagram.active ul li img{
    transform: scale(0.8);
    margin-bottom: 12px;
  }

  section .diagram.active ul li span{
    font-size: 22px;
  }

  section .diagram.active ul li p{
    font-size: 14px;
    line-height: 18px;
    margin-top: 0;
  }

}

@media (max-width: 800px){
  
  section .banner p,
  section .banner h3{
    transform: translateX(10%);
  }

  section .banner p.active,
  section .banner h3.active{
    transform: translateX(10%);
  }

  section .banner p{
    font-size: 22px;
  }

  section .banner h3{
    font-size: 32px;
  }

  section .expanation{
    left: 10%;
  }

  section .expanation h3{
    font-size: 32px;
    line-height: 38px;
  }

  section .diagram .desktop{
    transform: translate(-50%,-50%) scale(0.4);
    left: 50%;
  }

  section .diagram.active ul li:first-child{
    transform: translate(170px, -70px);
  }
  
  section .diagram.active ul li:nth-child(2){
    transform: translate(30px, -80px);
  }
  
  section .diagram.active ul li:nth-child(3){
    transform: translate(220px, 20px);
  }

  section .diagram.active ul:first-child li:last-child span,
  section .diagram.active ul:first-child li:last-child p{
    transform: translateX(-30px);
  }

  section .diagram.active ul li:nth-child(2) span,
  section .diagram.active ul li:nth-child(2) p{
    transform: translateX(-50px);
  }

  section .diagram.active ul li:last-child span,
  section .diagram.active ul li:last-child p{
    transform: translateX(-60px);
  }

  section .diagram.active ul li img{
    transform: scale(0.8);
    margin-bottom: 12px;
  }

  section .diagram.active ul li span{
    font-size: 20px;
  }

  section .diagram.active ul li p{
    font-size: 14px;
    line-height: 18px;
    margin-top: 0;
  }

  section .expanation h3{
    font-size: 28px;
    line-height: 38px;
  }

  section .expanation p{
    font-size: 14px;
  }

}

@media (max-width: 550px){
  
  section .banner{
    position: relative;
    height: 350px;
    overflow: hidden;
    text-align: center;
    background: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(255, 255, 255, .1));
  }
  
  section .banner .img1,
  section .banner .img2, 
  section .banner .img3 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  }

  section .banner p.active{
    font-size: 18px;
    transform: none;
  }
  
  section .banner h3.active{
    font-size: 30px;
    transform: none;
  }

  section{
    height: 1600px;
    /* margin-bottom: 420px; */
    overflow: hidden;
  }

  section:last-child{
    margin-top: -40px;
  }

  section .expanation{
    width: 300px;
    left: 10%;
  }
  
  section .expanation h3{
    font-size: 28px;
    line-height: 38px;
    display: inline;
  }

  section .expanation p{
    font-size: 14px;
  }

  section .diagram .mobile{
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    display: block;
  }

  section .diagram .mobile path {
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    transition: stroke-dashoffset 2s ease-in-out;
  }

  section .diagram .mobile path.active {
    stroke-dashoffset: 0;
  }

  section .diagram.active ul li{
    position: relative;
  }
  

  section .diagram.active ul li:first-child{
    transform: translate(190px, 70px);
  }
  
  section .diagram.active ul li:nth-child(2){
    transform: translate(-195px, 300px);
  }
  
  section .diagram.active ul li:nth-child(3){
    transform: translate(-130px, 400px);
  }

  section .diagram.active ul li:nth-child(2) span,
  section .diagram.active ul li:nth-child(2) p{
    transform: translate(70px, -40px);
  }

  section .diagram.active ul li:last-child span,
  section .diagram.active ul li:last-child p{
    transform: translate(60px, -20px);
  }

  section .diagram.active ul li span,
  section .diagram.active ul li p{
    transform: translate(65px, -40px);
  }

  section .diagram.active ul li span{
    font-size: 20px;
  }

  section .diagram.active ul li p{
    font-size: 14px;
  }


  section .diagram .desktop{
    display: none;
  }

  

}



/* Footer 최은화 */
footer{
  left: 0;
  right: 0;
  bottom: 0;
  /* margin-top: 220px; */
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: relative;
  background: var(--primary);
  font-weight: 100;
  line-height: 16px;
}

footer,
footer a{
  color: var(--white);
  text-wrap: nowrap;
}

footer a:hover{
  font-weight: 300;
}

footer .fo_prize{
  width: 1400px;
  display: flex;
  justify-content: space-between;
  padding: 0 0 20px 0;
}

footer .fo_prize li{
  display: flex;
  gap: 10px;
  text-wrap: nowrap;
  align-items: center;
  font-size: 12px;
}

footer .fo_prize li img{
  width: 88px;
  height: 50px;
}

footer .fo_smallmenu,
footer .no_guide{
  display: flex;
  gap: 50px;
  transition: 0.3s;
}
  
footer .no_guide .fo_top{
  display: flex;
  gap: 50px;
  transition: 0.3s;
}

footer .no_guide .fo_bottom{
  display: flex;
  gap: 50px;
  transition: 0.3s;
}

footer .no_sns{
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

footer .no_sns li i{
  color: var(--white);
  opacity: 50%;
  font-size: 32px;
  cursor: pointer;
}

footer .no_sns li i:hover{
  opacity: 100%;
}

footer > p:after{
  content: '';
  background: var(--medium_gray);
  /* width: 1224px; */
  width: 1400px;
  height: 1px;
  position: absolute;
  right: 50%;
  transform: translate(50%, -25px);
  transition: 0.3s;
}

@media (max-width: 1200px){

  footer .fo_prize{
    width: 100%;
    gap: 50px;
    justify-content: center;
  }

  footer .fo_prize li{
    flex-direction: column;
  }

  footer > p:after{
    width: 800px;
  }
}

@media (max-width: 834px){

  footer .fo_prize{
    width: 100%;
  }

  footer .fo_prize p,
  footer .fo_prize h4{
    display: none;
  }

  footer .no_guide{
    gap: 35px;
    align-items: center;
    object-fit: cover;
  }
  
  footer .no_guide .fo_top{
    display: flex;
    gap: 35px;
  }
  
  footer .no_guide .fo_bottom{
    display: flex;
    gap: 35px;
  }

  footer .fo_smallmenu a,
  footer .no_guide a{
    font-size: var(--body_tt);
    text-wrap: nowrap;
  }

  footer > p:after{
    width: 600px;
  }

}

@media (max-width: 660px){

  footer{
    gap: 25px;
  }

  footer .fo_prize li img{
   width: 68px;
   height: 40px; 
  }

  footer .fo_smallmenu{
    gap: 25px;
  }

  footer .no_guide{
    flex-direction: column;
    gap: 30px;
  }

  footer .no_guide .fo_top{
    gap: 30px;
  }
  
  footer .no_guide .fo_bottom{
    gap: 30px;
  }

  footer > p:after{
    width: 500px;
  }
  
}

@media (max-width: 550px){
  footer .fo_smallmenu{
    gap: 10px;
  }

  footer .fo_prize{
    display: none;
  }

  footer .no_guide{
    flex-direction: column;
    gap: 20px;
  }

  footer .no_guide .fo_top{
    gap: 30px;
  }
  
  footer .no_guide .fo_bottom{
    gap: 30px;
  }

  footer > p:after{
    width: 300px;
  }
}

/* // Footer 최은화 