* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  list-style: none;
}
header {
}
.common_header {
  height: 60vh;
  width: 100%;
  background-image: url(../images/main_header.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}

.kia_logo {
  fill: white;
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 2%;
  padding-right: 2%;
  position: relative;
}

nav ul li {
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
}

.kia_logo {
  fill: white;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav ul li ul {
  display: none;
  position: absolute;
  margin-top: 5px;
  border-radius: 5px;
}

/* 마우스를 올리면 서브 메뉴가 보이도록 설정 */
nav ul li:hover ul {
  display: block;
}

/* 서브 메뉴 항목을 블록으로 배치하여 세로로 나열되도록 설정 */
nav ul li ul li {
  padding: 0;
  padding-top: 15px;
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
}

.small_menus {
  display: none;
}

.common_header_phrase {
  color: white;
  position: absolute;
  padding: 10px 20px;
  bottom: -550%;
  font-size: 52px;
  font-weight: bold;
}

@media screen and (max-width: 1460px) {
  nav {
    padding-left: 1%;
    padding-right: 1%;
  }

  nav ul li {
    padding: 3px 3px;
  }

  nav ul li a {
    font-size: 15px;
  }

  nav ul li ul li {
    padding: 0;
    padding-top: 10px;
    display: block;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
  }

  .kia_logo {
    width: 100px;
    height: 100px;
  }
  .common_header_phrase {
    color: white;
    position: absolute;
    bottom: -800%;
    font-size: 32px;
    font-weight: bold;
  }
}


@media screen and (max-width: 840px) {
  .common_header {
    height: 50vh;
    width: 100%;
    background-image: url(../images/main_header.jpg);
    background-size: cover;
    background-position: right center;
    position: relative;
  }

  .kia_logo {
    width: 80px;
    height: 80px;
  }

  /* small_menus 제외한 nav ul li 숨기기 */
  nav ul:first-child {
    display: none;
  }
  nav ul.right_menus li:nth-child(-n+3) {
    display: none;
  }

   /* small_menus만 보이도록 설정 */
   nav ul.right_menus {
    display: flex;
    justify-content: flex-end; /* 오른쪽 끝으로 정렬 */
    flex: 1; /* flex 항목이 nav의 나머지 공간을 차지하도록 설정 */
  }

  nav ul.right_menus li {
    display: inline-block;
    padding: 3px 10px;
  }

  nav ul.right_menus li .small_menus {
    display: block;
  }

  .hamburger_menus {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }

}

