*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    list-style: none;
}
header{

}
.common_header{
    height: 70%;
    width: 100%;
    background-image: url(../images/main_header.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
}

.kia_logo{
    fill: white;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
}

nav ul li {
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
}

.kia_logo{
    fill: white;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


nav ul li ul {
    display: none;
    position: absolute;
    margin-top: 5px;
    border-radius: 5px;
}

/* 마우스를 올리면 서브 메뉴가 보이도록 설정 */
nav ul li:hover ul {
    display: block;
}

/* 서브 메뉴 항목을 블록으로 배치하여 세로로 나열되도록 설정 */
nav ul li ul li {
    padding: 0;
    padding-top: 15px;
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
}



.common_header_phrase{
    color: white;
    position: absolute;
    padding: 10px 20px;
    bottom : -550%;
    font-size: 52px;
    font-weight: bold;
}

